<template>
    <div id="add-task-modal" class="modals" role="">
        <!-- Modal content-->
        <div class="content">
            <div class="header">
                <div class="image">
                    <img src="../../../images/icon_plus.svg" alt="">
                </div>
                <div class="title">
                    NOWY TASK
                </div>
                <div class="buttons">
                    <button class="btn-no"></button>
                </div>
            </div>
            <form method="post" action="">
                <div class="task-title">
                    <label for="title">Nazwa taska </label>
                    <input type="text" name="title" v-model="title" id="title">
                </div>
                <div class="client-name">
                    <label for="client">Nazwa klienta</label>
                    <input type="text" name="client" id="client" v-model="client">
                </div>
                <div class="estimated-time">
                    <h6>Szacowany czas zadania
                    </h6>
                    <div class="selects">
                        <select name="" id="duration_days"  v-model="duration_days">
                            <option  v-for="n in 61">{{ n-1 }}</option>
                        </select> d
                    </div>
                    <div class="selects">
                        <select name="" id="duration_hours" v-model="duration_hours">
                            <option v-for="n in 25">{{ n-1 }}</option>
                        </select> h
                    </div>
                    <div class="selects">
                        <select name="" id="duration_minutes"  v-model="duration_minutes">
                            <option>0</option>
                            <option>30</option>
                        </select> m
                    </div>
                </div>
                <div class="deadline-set">
                    <h6>Termin zakończenia zadania</h6>
                    <label for="date">data</label>
                    <input type="date" name="date" class="date-input" id="date" v-model="date">
                    <br>
                    <label for="time">godzina</label>
                    <input type="time" name="time" class="time-input" id="time" v-model="time">
                </div>
                <div class="buttons">
                    <button name="addCalendar" @click.prevent="addCalendar(0)" class="btn-gray addWaiting">DODAJ DO KALENADRZA</button>
                    <br>
                    <button name="addWaiting" @click.prevent="addTask(1)" class="btn-gray addWaiting">DODAJ DO POCZEKALNI</button>
                    <br>
                    <button name="addTemplate" @click.prevent="addTask(2)" class="btn-gray addTemplate">DODAJ DO SZABLONÓW</button>
                </div>
            </form>

        </div>
        <form-error v-if="errors.length != 0" :errors="errors"></form-error>
    </div>
</template>
<script>
    import FormError from '../modals/formError.vue';

    export default{
        components: {
            FormError,
        },
        data() {
            return this.$root.$refs.sidebaradmin.$refs.sidetask.$data;
        },
        methods:{
            addCalendar(type){
                alert("funkcja nie ukończona. Proszę czkekać!");
            },
            addTask(type){
                let durationTime =  moment.duration({
                    'days' : this.duration_days,
                    'hours' : this.duration_hours,
                    'minutes' : this.duration_minutes
                }).asMilliseconds();
                this.$http.post(window.location.origin + '/admin/task/add', {
                    title: this.title,
                    client: this.client,
                    duration: durationTime,
                    date: this.date,
                    time: this.time,
                    type: type,
                    userId: userId
                }).then(function (data) {
                    if(data.body.task.type == 1) {
                        this.waitings.push(data.body.task);
                    }else if(data.body.task.type == 2){
                        this.templates.push(data.body.task);
                    }
                   $('#add-task-modal').hide();
                    Vue.nextTick(function () {
                        $('aside .items .item').each(function () {
                            $(this).data('event', {
                                title: $(this).data('title'), // use the element's text as the event title
                                stick: true,
                                client: $(this).data('client'),
                                deadline: $(this).data('deadline'),
                                duration: $(this).data('duration'),
                                duration2: $(this).data('duration'),
                                color: '#096709',// maintain when user navigates (see docs on the renderEvent method)
                            });
                            $(this).draggable({
                                zIndex: 999,
                                revert: true,      // will cause the event to go back to its
                                revertDuration: 0  //  original position after the drag
                            });
                        });
                        });
                    this.errors = '';

                }, function (response) {
                    this.errors = response.data.errors;
                });
            }
        },
        mounted(){

        }
    }

</script>