<template>
    <div id="search">
        <div class="header-full">
            <div class="wrapp">
                <div class="title">
                    Wyszukiwanie
                </div>
            </div>
            <div class="buttons">
                <button class="btn-no" @click="closeSearch"></button>
            </div>
        </div>
        <div class="items">
            <div class="row">
                <div class="col-lg-4" v-for="(key,value) in tasks" :id="'search-'+key.id">
                    <div class="item" @click="showTask(key)">
                        <div class="title">{{ key.title }}</div>
                        <div class="user-name">{{ key.client }} </div>
                        <div class="deadline-sb">{{ key.deadline }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data() {
            return this.$root.$refs.headbar.$data;
        },
        methods: {

            showTask: function (event) {
                $("#task-view").show();
                $("#event-"+event.id).trigger('click');
            },
            closeSearch(){
              $('#search').hide();
            }
        },
        mounted() {
            console.log(this.$root.$refs);
        }
    }
</script>