<template>
    <div id="task-view" data-id="1" class="modals" role="" style="" ref="task">
        <taskheader :task="task" ></taskheader>
        <tasknotes  :task="task" :taskNotes="taskNotes" :errors="errors"></tasknotes>
        <taskattachments :task="task" :taskAttachments="taskAttachments" :errors="errors"></taskattachments>
        <taskhistory :taskLogs="taskLogs" ></taskhistory>
    </div>
</template>
<script>
    export default {
        props: ['task','taskNotes','taskAttachments','taskLogs','errors'],
    }
</script>