<template>
    <div>
        <div class="notes-time">
            <div class="header">
                <div class="deadline">
                    TERMIN ZAKOŃCZENIA ZADANIA: <b>{{ task.deadline }} </b>
                </div>
                <div class="estimated-time">
                    SZACOWANY CZAS NA WYKONANIE ZADANIA: <b>
                    {{ getDays(task.duration) }}d
                    {{ getHours(task.duration) }}h
                    {{ getMinutes(task.duration)}}m</b>
                </div>
                <div class="estimated-time">
                    Przepracowany czas: <b>
                    {{ task.workedD }} d
                    {{ task.workedH }} h
                    {{ task.workedM }} m
                </b>
                </div>
            </div>
            <div class="delete-task">
                <form action=" " method="post">
                    <button class="task-delete" v-on:click.prevent="deleteTask">usuń</button>
                </form>
            </div>
            <div class="notes-wrap">
                <div class="header">
                    <div class="image">
                        <img src="/img/icon_note.svg" alt="">
                    </div>
                    <div class="text">
                        Notatki
                    </div>
                </div>
                <div class="notes">
                    <div class="add_note">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-lg-9">
                                    <textarea v-model="taskNoteBody" class="area-full" id="" cols="30"
                                              rows="2"></textarea>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn-gray" v-on:click.prevent="addNote">Dodaj</button>

                                </div>
                                <div class="col-lg-1">
                                    <div class="loadingspin" v-show="saving">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    <div class="loadingspin" v-show="save">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="note" v-for="(key, item) in taskNotes ">
                        <div class="header">
                            <b>{{ key.first_name }} {{ key.second_name }}</b>
                            dodał notatkę {{ key.created_at }}
                            <div class="delete-note-wrapp">
                                <form action="" method="post">
                                    <button class="note-delete" v-on:click.prevent="deleteNote(key,item)">usuń</button>
                                </form>
                            </div>
                        </div>
                        <div class="body">
                            {{ key.body }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form-error v-if="errors.length != 0" :errors="errors"></form-error>
    </div>
</template>
<script>
    import calendar from "../calendar.vue";

    let data = {
        taskNoteBody:'',
        saving: false,
        save: false,
    }
    export default {
        props: ['task', 'taskNotes', 'errors', 'errors'],
        data() {
            return data;
        },
        methods: {
            getDays: function (duration) {
                return moment.duration(duration).days();
            },
            getHours: function (duration) {
                return moment.duration(duration).hours();
            },
            getMinutes: function (duration) {
                return moment.duration(duration).minutes();
            },
            addNote: function () {
                this.save = false;
                this.saving = true;
                this.$http.post(window.location.origin + '/admin/task/note/add', {
                    userId: userId,
                    taskId: this.task.id,
                    body: this.taskNoteBody
                }).then(function (data) {
                    this.taskNoteBody = "";
                    this.taskNotes.push(data.body.note[0]);
                    this.saving = false;
                    this.save = true;
                });
            },
            deleteNote: function (key, item) {
                var r = confirm("Czy aby napewno usunąć notatkę?!");
                if (r == true) {
                    this.$http.post(window.location.origin + '/admin/task/note/delete', {
                        id: key.id
                    }).then(function (data) {
                        Vue.delete(this.taskNotes, item);
                    }, function (response) {
                        this.errors = response.data.errors;
                    });
                } else {
                    return false;
                }

            },
            deleteTask: function () {
                var r = confirm("Czy aby napewno usunąć zadanie?!");
                if (r == true) {
                    this.$http.post(window.location.origin + '/admin/task/delete', {
                        id: this.task.id
                    }).then(function (data) {
                        $('#task-view').hide();
                        $('#calendar').fullCalendar('removeEvents', this.task.id);
                        $('#search-'+this.task.id).remove();
                    });
                } else {
                    return false;
                }
            }
        },
        mounted() {

        }
    }

</script>
