<template>
    <div>
        <div class="attachments-wrapp">
            <div class="header">
                <div class="image">
                    <img src="../../../images/icon_attachment.svg" alt="">
                </div>
                <div class="text">
                    Załączniki
                </div>
                <div class="hide">
                    <button class="hide" id="task_attach_hide">Ukryj</button>
                </div>
            </div>
            <div id="task_attach">
                <div class="attachments">
                    <div class="add">
                        <form enctype="multipart/form-data" action=""
                              method="post">
                            <div class="row">
                                <div class="col-lg-10">
                                    <label class="btn btn-block add_attachment" for="attach">Dodaj załącznik</label>
                                    <input type="file" ref="fileupload" id="attach" @change="fileSelected" name="file"
                                           class="inputfile">
                                </div>
                                <div class="col-lg-2">
                                    <div class="loadingspin" v-show="saving">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    <div class="loadingspin" v-show="save">
                                        <i class="fas fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="attachment" v-for="(key, item) in taskAttachments">
                        <div class="title">
                            <div class="date">
                                {{ key.created_at }}
                            </div>
                            <div class="user">
                                <b> {{ key.first_name }} {{ key.second_name }} </b> dodał
                            </div>
                            <div class="file">
                                {{ key.path }}
                            </div>
                        </div>
                        <div class="file" v-if="mimeImage(key.mime)">
                            <img :src="imageUrl(key.path)">
                        </div>
                        <div class="file" v-else>
                            <button class="attach-btn">{{ key.ext }} {{ key.path }}</button>
                        </div>
                        <div class="buttons">
                            <form action="" method="post">
                                <a :href="downloadUrl(key.id)" class="download" download>pobierz</a>
                            </form>
                            <form action="" method="post">
                                <button class="delete" v-on:click.prevent="deleteAttachment(key,item)">usuń</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form-error v-if="errors.length != 0" :errors="errors"></form-error>
    </div>
</template>
<script>
    import calendar from "../calendar.vue";
    let data = {
        file:'',
        saving: false,
        save: false,
    }
    export default {
        props: ['taskAttachments','task','errors'],
        data(){
            return data;
        },
        methods: {
            mimeImage(mime) {
                if (mime.indexOf('image') === -1) {
                    return false;
                } else {
                    return true;
                }
            },
            downloadUrl(id) {
                return window.location.origin + '/admin/task/file/download/' + id;
            },
            imageUrl(url) {
                return window.location.origin + '/img/files/' + url;
            },
            fileSelected: function (e) {
                this.save = false;
                this.saving = true;
                let form = new FormData();
                form.append('file', e.target.files[0]);
                form.append('userId', userId,);
                form.append('taskId', this.task.id);
                this.file = e.target.files[0];
                this.$http.post(window.location.origin + '/admin/task/file/add', form).then(function (data, status, request) {
                    this.taskAttachments.push(data.body.attachment[0]);
                    this.file = "";
                    const input = this.$refs.fileupload;
                    input.type = 'text';
                    input.type = 'file';
                    this.save = true;
                    this.saving = false;
                }, function (response) {
                    this.errors = response.data.errors;
                });
            },
            deleteAttachment: function (key, item) {
                var r = confirm("Czy aby napewno usunąć załącznik?!");
                if (r == true) {
                    this.$http.post(window.location.origin + '/admin/task/file/delete', {
                        id: key.id
                    }).then(function (data) {
                        Vue.delete(this.taskAttachments, item);
                    });
                } else {
                    return false;
                }

            },
        },
        mounted() {
            this.mimeImage("image/png");
        }
    }
</script>