<template>
<div class="header">
    <div class="title">
        <div class="task-title">
            <h5>
                {{ task.title }}
            </h5>
            <h6>
                {{ task.client }}
            </h6>
        </div>
    </div>

    <div class="buttons">
        <button class="btn-no"></button>
    </div>
</div>
</template>
<script>
    export default {
        props: ['task'],
    }

</script>