<template>
    <div>
        <div class="history">
            <div class="header">
                <div class="image">
                    <img src="../../../images/icon_attachment.svg" alt="">
                </div>
                <div class="text">
                    Historia taska
                </div>
                <div class="hide">
                    <button class="hide" id="task_history_hide">Ukryj</button>
                </div>
            </div>
            <div id="task_history">
                <div class="logs">
                    <div class="log" v-for="log in taskLogs">
                        <div class="date">
                            {{ log.created_at }}
                        </div>
                        <div class="body">
                            <b>{{ log.first_name }} {{ log.second_name }}</b> {{ log.logTitle }} <b> {{ log.taskTitle
                            }}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import calendar from "../calendar.vue";

    export default {
        props: ['taskLogs'],

        methods: {},
        mounted() {
        }
    }

</script>
