<template>

</template>
<script>
    import calendar from  "../calendar.vue";
    export default{
        data() {
            return this.$root.$refs.cal.$data;
        },
        mounted(){
        }
    }

</script>