<template>
    <div>
        <div class="waiting">
            <button class="btn_list" data-toggle="collapse" id="wait" data-target="#waiting">
                POCZEKALNIA
            </button>
            <div class="collapse items" id="waiting">
                <div class="fc-event item"
                     :data-title="key.title"
                     :data-client="key.client"
                     @dblclick="findSlot(key,item)"
                     :data-deadline="key.deadline"
                     :data-color="key.color"
                     :data-duration="key.duration"
                     :data-project_id="key.project_id"
                     v-for="(key,item) in waitings">
                    <div class="title">
                        {{ key.title }}
                        <a href="#" v-on:click.prevent="deleteWaiting(key,item)">(usuń)</a>
                    </div>
                    <div class="user-name">{{ key.client }}</div>
                    <div class="deadline-sb" v-if="key.deadline">{{ key.deadline }}</div>
                    <div class="time2" v-if="key.duration">{{ getDays(key,item) }}d {{ getHours(key,item) }}g {{
                        getMinutes(key,item) }}m
                    </div>
                </div>
            </div>
        </div>
        <div class="templates">
            <button class="btn_list collapseable" id="temp" data-toggle="collapse" data-target="#templates">
                SZABLONY
            </button>
            <div class="collapse items" id="templates">
                <div class="item"
                     :data-title="key.title"
                     :data-client="key.client"
                     :data-deadline="key.deadline"
                     :data-duration="key.duration"
                     :data-color="key.color"
                     :data-project_id="key.project_id"
                     @dblclick="findSlot(key,item)"
                     v-for="(key,item) in templates">
                    <div class="title" v-on:dbclick="findSlot(key.item)">
                        {{ key.title }}
                        <a href="#" v-on:click.prevent="deleteTemplate(key,item)">(usuń)</a>
                    </div>
                    <div class="user-name">{{ key.client }}</div>
                    <div class="deadline-sb" v-if="key.deadline">{{ key.deadline }}</div>
                    <div class="time2" v-if="key.duration">{{ getDays(key,item) }}d {{ getHours(key,item) }}g {{
                        getMinutes(key,item) }}m
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import store from './../store.js';

    export default {
        data() {
            return store.data;
        },
        methods: {
            daySearch: function (key, day) {
                let duration = moment.duration(key.duration);
                let events = $('#calendar').fullCalendar('clientEvents',
                    function (event) {
                        if (event.rendering == 'inverse-background') {
                            return false;
                        }
                        if (event.isTimetable) {
                            return false;
                        }
                        return (moment(event.start).isSame(moment().add(day, 'days'), 'day'))
                    }
                );
                if (events.length > 0) {
                    // console.log(events);
                    events.sort(function (a, b) {
                        return (a.start > b.start) ? 1 : ((b.start > a.start) ? -1 : 0);
                    });
                }
                let today = moment().add(day, 'days').format('MM-DD');
                let eventEnd;
                let eventStart;
                let normalHoursStart = moment.parseZone(this.businessHours.globalStart, 'HH:mm').add(day, 'days').utc();
                let normalHoursEnd = moment.parseZone(this.businessHours.globalEnd, 'HH:mm').add(day, 'days').utc();
                let result;
                let end;
                let start;
                let event2Start;
                let event2End;
                let founded = false;
                let startEvent;
                let hoursStart;
                let hoursEnd;
                if (events.length === 0) {
                    if (this.userWorkingHours[today]) {
                        eventEnd = moment.parseZone(this.userWorkingHours[today].start, 'HH:mm').add(day, 'days').utc();
                    }else{
                        eventEnd = normalHoursStart;
                    }
                    end = moment(eventEnd.utc().valueOf() + duration).utc();
                    start = eventEnd.format();
                    this.saveSlot(key, start, end);
                    return false;

                } else if (events.length === 1) {
                    if (this.userWorkingHours[today]) {
                        hoursStart=moment.parseZone(this.userWorkingHours[today].start, 'HH:mm').add(day, 'days').utc();
                        hoursEnd=moment.parseZone(this.userWorkingHours[today].end, 'HH:mm').add(day, 'days').utc();
                    }else{
                        hoursStart=normalHoursStart;
                        hoursEnd=normalHoursEnd
                    }
                    if (founded == false) {
                        if ((hoursEnd.valueOf() - events[events.length - 1].end) >= duration) {
                            eventEnd = events[events.length - 1].end;
                            end = moment(events[0].end.utc().valueOf() + duration).utc();
                            startEvent = events[0].end.utc().valueOf();
                            result = hoursEnd.valueOf() - events[0].end;
                        }else if ((events[0].start - hoursStart.valueOf()) >= duration) {
                            eventEnd = hoursStart;
                            end = moment(eventEnd.utc().valueOf() + duration).utc();
                            result = events[0].start - hoursStart.valueOf();
                            founded = true;
                        }

                    }
                    if (result >= duration) {
                        let start = eventEnd.format();
                        this.saveSlot(key, start, end);
                        return false;
                    }
                }
                for (let i = 0; i < events.length - 1; i++) {
                    let event1Start = events[i].start;
                    let event1End = events[i].end;
                    if (this.userWorkingHours[today]) {
                        hoursStart=moment.parseZone(this.userWorkingHours[today].start, 'HH:mm').add(day, 'days').utc();
                        hoursEnd=moment.parseZone(this.userWorkingHours[today].end, 'HH:mm').add(day, 'days').utc();
                    }else{
                        hoursStart=normalHoursStart;
                        hoursEnd=normalHoursEnd
                    }
                    if (founded == false) {
                        // normal
                        event2Start = events[i + 1].start;
                        event2End = events[i + 1].end;
                        if ((hoursEnd.valueOf() - events[events.length - 1].end) >= duration) {
                            eventEnd = events[events.length - 1].end;
                            end = moment(eventEnd.utc().valueOf() + duration).utc();
                            startEvent = eventEnd.utc().valueOf();
                            result = hoursEnd.valueOf() - events[events.length - 1].end;
                        }
                       else if (event2Start.valueOf() - event1End.valueOf() >= duration) {
                            eventEnd = event1End;
                            end = moment(eventEnd.utc().valueOf() + duration).utc();
                            result = event2Start.valueOf() - event1End.valueOf();
                            founded = true;
                        }
                       else if ((events[0].start - hoursStart.valueOf()) >= duration) {
                            eventEnd = hoursStart;
                            end = moment(eventEnd.utc().valueOf() + duration).utc();
                            result = event1Start - hoursStart.valueOf();
                            founded = true;
                        }

                    }
                    if (result >= duration) {
                        let start = eventEnd.format();
                        this.saveSlot(key, start, end);
                        return false;
                        break;
                    }
                }
                return true;
            },
            findSlot: function (key, item) {
                // moment.updateLocale('pl', null);
                this.$http.post(window.location.origin + '/admin/user/timetablehours', {
                    id: userId,
                    start: moment(),
                    end: moment().add(60, 'days')
                }).then(function (data, status, request) {
                    let root = this;
                    $.each(data.body, function (propName, propVal) {
                        let day = moment(propVal['start']).format('MM-DD');
                        root.userWorkingHours[day] = {
                            start: moment(propVal['start']).format('HH:mm'),
                            end: moment(propVal['end']).format('HH:mm')
                        };

                    });
                });
                console.log(this.userWorkingHours);
                for (let day = 0; day < 60; day++) {
                    let search = this.daySearch(key, day);
                    if (search == false) {
                        break;
                    }
                }

            },
            saveSlot: function (event, start, end) {
                this.$http.post(window.location.origin + '/admin/task/add', {
                    title: event.title,
                    start: moment(start).utc().format('YYYY-MM-DD HH:mm:ss'),
                    end: moment(end).utc().format('YYYY-MM-DD HH:mm:ss'),
                    client: event.client,
                    color: event.color,
                    deadline: event.deadline,
                    duration: event.duration,
                    userId: userId,
                    type: 0
                }).then(function (data, status, request) {
                    $('#calendar').fullCalendar('renderEvent',
                        {
                            id: data.body.task.id,
                            title: event.title,
                            color: '#096709',
                            project_id: event.project_id,
                            start: start,
                            end: end
                        },
                        true // make the event "stick"
                    );
                    return true;
                }, function (response) {
                });

            },
            getDays: function (key, item) {
                return moment.duration(key.duration).days();
            },
            getHours: function (key, item) {
                return moment.duration(key.duration).hours();
            },
            getMinutes: function (key, item) {
                return moment.duration(key.duration).minutes();
            },
            deleteWaiting: function (key, item) {
                var r = confirm("Czy aby napewno usunąć zadanie?!");
                if (r == true) {
                    this.$http.post(window.location.origin + '/admin/task/delete', {
                        id: key.id
                    }).then(function (data) {
                        Vue.delete(this.waitings, item);
                    });
                } else {
                    return false;
                }
            },
            deleteTemplate: function (key, item) {
                var r = confirm("Czy aby napewno usunąć zadanie?!");
                if (r == true) {
                    this.$http.post(window.location.origin + '/admin/task/delete', {
                        id: key.id
                    }).then(function (data) {
                        Vue.delete(this.templates, item);
                    });
                } else {
                    return false;
                }
            },
        },
        mounted() {
            this.$http.post(window.location.origin + '/admin/task/sidebar', {
                userId: userId
            }).then(function (data) {
                this.templates = data.body.templates;
                this.waitings = data.body.waitings;
            });
        }
    }

</script>
