<template>
    <div>
        <div class="users-list">
            <button class="btn_list" data-toggle="collapse" id="usersBtn" data-target="#users-list">
                PRACOWNICY
            </button>
            <div class="users collapse" id="users-list">
                <a v-for="(key,item) in user" :href="userUrl(key.id)">
                    <div class="user">
                        <div class="image">
                            <img :src="imageUrl(key.photo)">
                        </div>
                        <div class="name">{{ key.first_name }} {{ key.second_name }}</div>
                        <div class="position">{{ key.stand }}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    let users = {
        user: '',
        first_name: '',
        second_name: '',
        nickname: '',
        password: '',
        stand: '',
        type: '',
        photo: '',
        pay_standard: '',
        pay_overtime: '',
        errors: [],
        submitted: false
    };
    export default {
        data() {
            return users;
        },
        methods: {
            userUrl(id) {
                return window.location.origin + '/admin/dashboard/' + id;
            },
            imageUrl(url) {
                if (url == null) {
                    url = 'profile.jpg';
                }
                return window.location.origin + '/img/photos/' + url;
            },
        },
        mounted() {
            this.$http.post(window.location.origin + '/admin/users/all', {}).then(function (data) {
                this.user = data.body.users;
            });
        },
    }


</script>