<template>
    <header>
        <div class="logo" @click="today">
            <img src="../../../images/logo.png" alt="" id="today" >
        </div>
        <div class="buttons">
            <button id="showPrevious" @click="showPrevious">
                <div class="icon"><img src="../../../images/icon_arrow2_left.svg" alt=""></div>
                <div class="text"> poprzedni tydzień</div>
            </button>
            <button id="showNext" @click="showNext">
                <div class="icon"><img src="../../../images/icon_arrow2_right.svg" alt=""></div>
                <div class="text">następny tydzień </div>
            </button>
            <button id="showMonth" @click="showMonth">
                <div class="icon"><img src="../../../images/icon_calendar_month.svg" alt=""></div>
                <div class="text">pokaż miesiąc </div>
            </button>
            <button id="showWeek" @click="showWeek">
                <div class="icon"><img src="../../../images/icon_calendar_week.svg" alt=""></div>
                <div class="text">pokaż tydzień </div>
            </button>
            <button id="showDay" @click="showDay">
                <div class="icon"><img src="../../../images/icon_calendar_day.svg" alt=""></div>
                <div class="text">pokaż dzień </div>
            </button>

            <button class="btn_options profile" id="profile-btn" ><img
                    src="../../../images/admin.png"
                alt=""></button>
            <button class="btn_options" @click="options"><img src="../../../images/icon_menu.svg" alt=""></button>
            <form action="" method="post" class="form_search">
                <p>wyszukaj task</p>
                <input class="search" v-model="string" @keydown.enter.prevent="searchKey">
            </form>

        </div>
    </header>

</template>
<script>
    let data = {
        string:'',
        tasks:'',
    }

    export default {
        data(){
            return data;
        },
        methods: {
            searchKey: function () {
                this.$http.post(window.location.origin + '/admin/task/search', {
                    userId: userId,
                    search: this.string,
                }).then(function (data) {
                    this.tasks = data.body;
                    $('#search').show();
                });
            },
            options: function(){
                $('#settings').show();
            },
            showMonth: function(){
                $('#calendar').fullCalendar('changeView', 'month');
            },
            showWeek: function(){
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            },
            showDay: function(){
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            },
            showNext: function(){
                $('#calendar').fullCalendar('next');
            },
            showPrevious: function(){
                $('#calendar').fullCalendar('prev');
            },
            today: function(){
                $('#calendar').fullCalendar('today');
            },
        },
        mounted(){

        }
    }



</script>