<template>
    <div class="">
        <section class="calendar-wrap">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="calendar"></div>
                </div>
            </div>
            <adminoptions :businessHours="businessHours"></adminoptions>
            <task :task="task" :taskNotes="taskNotes" :taskLog="taskLogs" :taskAttachments="taskAttachments"
                  :errors="errors"></task>
            <search></search>
            <div id="profile-view" class="modals" role="">
                <profileheader></profileheader>
                <creditionals ref="user"></creditionals>
                <timetable></timetable>
                <profilehistory></profilehistory>
            </div>
        </section>
        <footbar :actualEvent.sync="actualEvent" :timer="timer"></footbar>
    </div>
</template>

<script>
    import footbar from './footer/footer.vue';
    import adminoptions from './admin/options.vue';
    import task from './task/task.vue';
    import store from './store.js';

    require('fullcalendar')
    export default {
        components: {
            footbar,
            adminoptions,
            task,
        },
        data() {
            return store.data;
        },

        methods: {
            getUserId() {
                this.userId = userId;
            },
            bind: function () {
                let root = this;
                let calendarHeight = $('#calendar').height();
                let userWorkingHours = {};
                $('#calendar').fullCalendar({
                    header: false,
                    height: calendarHeight,
                    allDaySlot: false,
                    slotEventOverlap: false,
                    slotLabelFormat: "HH:mm",
                    editable: true,
                    locale: 'pl',
                    eventLimit: true,
                    selectable: true,
                    selectHelper: true,
                    defaultView: 'agendaWeek',
                    dragOpacity: 0.5,
                    lang: 'pl',
                    nowIndicator: true,
                    minTime: "09:00:00",
                    maxTime: "19:30:00",
                    allDay: false,
                    slotLabelInterval: '00:30:00',
                    snapDuration: '00:05:00',
                    viewSubSlotLabel: true,
                    droppable: true,
                    eventOverlap: function (stillEvent, movingEvent) {
                        return (stillEvent.rendering == "background" || stillEvent.rendering == "inverse-background");
                    },
                    eventSources: [
                        {
                            events: function (start, end, timezone, callback) {
                                root.$http.post(window.location.origin + '/admin/user/get/tasks', {
                                    id: userId
                                }).then(function (data, status, request) {
                                    let events = [];
                                    $.each(data.body, function (propName, propVal) {
                                        let now = moment().valueOf();
                                        let editable = propVal['editable'];
                                        if (editable == 0) {
                                            editable = false;
                                        } else {
                                            editable = true;
                                        }
                                        let color = propVal['color'];
                                        if (now > moment(propVal['start'].valueOf()) && now < moment(propVal['end'].valueOf())) {
                                            root.actualEvent = propVal;
                                            root.calculeteTimer(0);
                                        }
                                        if (now > moment(propVal['end'].valueOf())) {
                                            editable = false;
                                        }
                                        events.push({
                                            id: propVal['id'],
                                            title: propVal['title'],
                                            start: moment(propVal['start']).format('YYYY-MM-DD HH:mm:ss'),
                                            end: moment(propVal['end']).format('YYYY-MM-DD HH:mm:ss'),
                                            client: propVal['client'],
                                            type: propVal['type'],
                                            deadline: moment(propVal['deadline']).format('YYYY-MM-DD HH:mm:ss'),
                                            color: color,
                                            project_id: propVal['project_id'],
                                            duration: propVal['duration'],
                                            className: 'event-btn',
                                            isTimetable: false,
                                            // editable: editable
                                        });
                                    });
                                    callback(events);
                                }, function (response) {
                                    console.log('Error:', response);
                                });
                            }
                        },
                        {
                            events: function (start, end, timezone, callback) {
                                root.$http.post(window.location.origin + '/admin/user/timetablehours', {
                                    id: userId,
                                    start: start,
                                    end: end
                                }).then(function (data, status, request) {
                                    let events = [];
                                    $.each(data.body, function (propName, propVal) {
                                        let now = moment().valueOf();
                                        let editable = propVal['editable'];
                                        if (editable == 0) {
                                            editable = false;
                                        } else {
                                            editable = true;
                                        }
                                        let color = propVal['color'];
                                        if (now > moment(propVal['start'].valueOf()) && now < moment(propVal['end'].valueOf())) {
                                            root.actualEvent = propVal;
                                            root.calculeteTimer(0);
                                        }
                                        if (now > moment(propVal['end'].valueOf())) {
                                            editable = false;
                                        }
                                        events.push({
                                            id: 'timetable',
                                            //title: propVal['title'],
                                            start: moment(propVal['start']).format('YYYY-MM-DD HH:mm:ss'),
                                            end: moment(propVal['end']).format('YYYY-MM-DD HH:mm:ss'),
                                            //client: propVal['client'],
                                            //type: propVal['type'],
                                            //deadline: moment(propVal['deadline']).format('YYYY-MM-DD HH:mm:ss'),
                                            color: color,
                                            rendering: 'inverse-background',
                                            overlap: false,
                                            isTimetable: true,
                                            //project_id: propVal['project_id'],
                                            duration: propVal['duration'],
                                            className: 'event-btn',
                                            overlap: true,
                                            resourceEditable: false
                                            // editable: editable
                                        });
                                        let day = moment(propVal['start']).format('MM-DD');


                                        userWorkingHours[day] = {
                                            start: moment(propVal['start']).format('HH:mm'),
                                            end: moment(propVal['end']).format('HH:mm')
                                        };
                                        root.userWorkingHours[day] = {
                                            start: moment(propVal['start']).format('HH:mm'),
                                            end: moment(propVal['end']).format('HH:mm')
                                        };


                                    });
                                    callback(events);
                                }, function (response) {
                                    console.log('Error:', response);
                                });
                            }
                        }

                    ],
                    select: function (start, end) {
                        if (start.isBefore(moment())) {
                            $('#calendar').fullCalendar('unselect');
                            return false;
                        }
                    }
                    ,
                    eventAfterAllRender: function (view) {
                        $('.fc-slats tr').each(function () {

                            if ($(this).data('time') >= root.businessHours.globalStart && $(this).data('time') < root.businessHours.globalEnd) {
                                $(this).children('.fc-axis').css('background-color', 'gray');
                            }

                        });
                    },
                    eventResize: function (event, delta, revertFunc) {

                        let start = event.start.format();
                        let beginningTime = root.businessHours.globalStart;
                        let beginningTimeEvent = moment(start).format("HH:mm");
                        let timeDay = moment(start).format("MM-DD");
                        let customStart;
                        if (!root.userWorkingHours[timeDay]) {
                            customStart = beginningTime;
                        } else {
                            customStart = userWorkingHours[timeDay].start;
                        }

                        let end = event.end.format();
                        let endTime = root.businessHours.globalEnd;
                        let endTimeEvent = moment(end).format("HH:mm");
                        let customEnd;
                        if(!root.userWorkingHours[timeDay]){
                            customEnd = endTime;
                        }else{
                            customEnd = root.userWorkingHours[timeDay].end;
                        }
                        if (endTimeEvent > endTime
                            || beginningTimeEvent < beginningTime
                            || endTimeEvent > customEnd
                            || beginningTimeEvent < customStart) {
                            let r = confirm("Zadanie przesunięte poza czas pracy. Czy wysłać prośbe o akceptacje przesunięcia od godziny: " + beginningTimeEvent + " do " + endTimeEvent + " ?");
                            if (r == true) {
                                root.edit(event); // TODO: add redis
                                root.checkActual(event);

                                // event.disableDragging();
                                // event.disableResizing();
                                return true;
                            } else {
                                revertFunc();
                            }
                        }
                        root.edit(event);
                        root.checkActual(event);
                    },
                    eventReceive: function (event, delta, revertFunc) {
                        let start = event.start.format();
                        let beginningTime = root.businessHours.globalStart;
                        let beginningTimeEvent = moment(start).format("HH:mm");
                        let timeDay = moment(start).format("MM-DD");
                        let customStart;
                        if (!root.userWorkingHours[timeDay]) {
                            customStart = beginningTime;
                        } else {
                            customStart = userWorkingHours[timeDay].start;
                        }

                        if (event.end != null) {
                            // console.log(event);
                            let end = event.end.format();
                            let endTime = root.businessHours.globalEnd;
                            let endTimeEvent = moment(end).format("HH:mm");
                            let customEnd;
                            if(!root.userWorkingHours[timeDay]){
                                customEnd = endTime;
                            }else{
                                customEnd = root.userWorkingHours[timeDay].end;
                            }
                            if (endTimeEvent > endTime
                                || beginningTimeEvent < beginningTime
                                || endTimeEvent > customEnd
                                || beginningTimeEvent < customStart) {
                                let r = confirm("Zadanie przesunięte poza czas pracy. Czy wysłać prośbe o akceptacje przesunięcia od godziny: " + beginningTimeEvent + " do " + endTimeEvent + " ?");
                                if (r == true) {
                                    root.edit(event); // TODO:add redis
                                    root.checkActual(event);
                                    // event.disableDragging();
                                    // event.disableResizing();
                                    return true;
                                } else {
                                    revertFunc();
                                }
                            }
                        }
                        root.addEvent(event);
                    },
                    eventDrop: function (event, delta, revertFunc) {
                        let start = event.start.format();
                        let beginningTime = root.businessHours.globalStart;
                        let beginningTimeEvent = moment(start).format("HH:mm");
                        let timeDay = moment(start).format("MM-DD");
                        // console.log(root.userWorkingHours);
                        // console.log(root.userWorkingHours['03-26']);
                        let customStart;
                        if (!root.userWorkingHours[timeDay]) {
                            customStart = beginningTime;
                        } else {
                            customStart = userWorkingHours[timeDay].start;
                        }
                        if (event.end != null) {
                            let end = event.end.format();
                            let endTime = root.businessHours.globalEnd;
                            let endTimeEvent = moment(end).format("HH:mm");
                            let customEnd;
                            if(!root.userWorkingHours[timeDay]){
                                customEnd = endTime;
                            }else{
                                customEnd = root.userWorkingHours[timeDay].end;
                            }
                            if (endTimeEvent > endTime
                                || beginningTimeEvent < beginningTime
                                || endTimeEvent > customEnd
                                || beginningTimeEvent < customStart) {
                                let r = confirm("Zadanie przesunięte poza czas pracy. Czy wysłać prośbe o akceptacje przesunięcia od godziny: " + beginningTimeEvent + " do " + endTimeEvent + " ?");
                                if (r == true) {
                                    alert('true');
                                    root.edit(event); // TODO:add redis
                                    root.checkActual(event);
                                    // event.disableDragging();
                                    // event.disableResizing();
                                    return true;
                                } else {
                                    alert('rev');
                                    revertFunc();
                                }
                            }
                        }

                        if (root.edit(event) == false) {
                            revertFunc();
                        } else {
                            root.checkActual(event);
                        }

                    },

                    eventRender: function (event, element) {
                        element.attr('id', 'event-' + event.id);
                        element.find(".fc-event-title").remove();
                        element.find(".fc-time").remove();

                        let hours = moment.duration(event.end - event.start).hours();
                        let minutes = moment.duration(event.end - event.start).minutes();
                        let taskClient = "";
                        let deadline = "";
                        let btn = "";
                        let divided = "";
                        let resumed = "";
                        let play = "";
                        let stop = "";
                        let pause = "";
                        let clockOvertime = "";
                        let less = "";
                        let more = "";
                        let ok = "";
                        let duration = "";
                        if (hours < 1) {
                            taskClient = "hide";
                            deadline = "hide";
                            btn = "btn-1400";
                        } else if (hours == 1 && minutes < 30) {
                            deadline = "deadline-1400";
                        } else {
                            taskClient = "show";
                            deadline = "show";
                        }


                        if (event.type == 1) {
                            divided = '<button class="btn-bg divided-bg block-bottom ' + btn + '"></button>';
                        } else divided = '';

                        if (event.type == 2) {
                            resumed = '<button class="btn-bg resumed-bg block-bottom ' + btn + '"></button>';
                        } else resumed = '';

                        if (event.type == 3) {
                            play = '<button class="btn-bg play-bg ' + btn + '"></button>';
                            stop = '<button class="btn-bg stop-bg ' + btn + '"></button>';
                            pause = '<button class="btn-bg pause-bg ' + btn + '"></button>';
                            clockOvertime = '<button class="btn-bg clock-overtime-bg block-bottom ' + btn + '"></button>';
                            less = '<button class="btn-bg clock-less-bg ' + btn + '"></button>';
                            more = '<button class="btn-bg clock-more-bg ' + btn + '"></button>';
                            ok = '<button class="btn-bg clock-ok-bg ' + btn + '"></button>';
                        } else {
                            play = '';
                            stop = '';
                            pause = '';
                            clockOvertime = '';
                            less = '';
                            more = '';
                            ok = '';
                        }
                        let deadlineD = "";
                        let deadlineH = "";
                        if (event.deadline != "") {
                            deadlineD = moment(event.deadline).format("D/M/Y");
                            deadlineH = moment(event.deadline).format("hh:mm");
                        }
                        let clientName = "";
                        if (event.client != "" && event.client != null) {
                            clientName = event.client;
                        }
                        if (!event.isTimetable) {
                            let new_description =
                                '<div class="task-client ' + taskClient + '" ">' + clientName + '</div><br/>' +
                                '<div class="deadline ' + deadline + '" ">' + deadlineD + '&nbsp; &nbsp; &nbsp;' +
                                '' + deadlineH + '</div><br/>' +
                                play +
                                stop +
                                clockOvertime +
                                less +
                                more +
                                ok +
                                divided +
                                resumed
                            ;
                            element.append(new_description);
                            element.find('.fc-title').append(duration);
                        }

//                    $("#delbut"+event.id).hide();
////                    $("#delbut"+event.id).fadeIn(300);
//                    $("#delbut"+event.id).click(function() {
//                        $.post("your.php", {eventId: event.id});
//                        calendar.fullCalendar('refetchEvents');
//                    });
//                    $("#edbut"+event.id).hide();
//                    $("#edbut"+event.id).fadeIn(300);
//                    $("#edbut"+event.id).click(function() {
//                        let title = prompt('Current Event Title: ' + event.title + 'New Event Title:');
//
//                        if(title){
//                            $.post("your.php", {eventId: event.id, eventTitle: title});
//                            calendar.fullCalendar('refetchEvents');
//                        }
//                    });
                    },
                    eventClick: function (event) {
                        root.showTask(event);
                    }
                });
            },

            showTask: function (event) {
                $("#task-view").show();
                $("#task-view").attr('data-id', event.id);
                $("#task-view").attr('data-bool', true);
                this.$http.post(window.location.origin + '/admin/task/get', {
                    id: event.id
                }).then(function (data, status, request) {
                    this.task = data.body.task;
                    this.taskNotes = data.body.notes;
                    this.taskLogs = data.body.logs;
                    this.taskAttachments = data.body.attachments;
                    this.event = event;
                }, function (response) {
                    alert('Błąd! Problem z wczytaniem zadania.');
                    console.log('Error:', response);
                });
            },
            checkActual: function (event) {
                let vm = this;
                if (this.actualEvent.id == event.id) {
                    this.clearTimer();
                    this.actualEvent = "";
                }
                let now = moment().add(1, 'hour').valueOf();
                if (now > moment(event['start'].valueOf()) && now < moment(event['end'].valueOf())) {
                    this.actualEvent = event;
                    this.calculeteTimer();

                }
                let deadline = moment(moment(event['deadline']).add(1, 'hour')).valueOf();
                let warning = moment(event['end']).add(2, 'hour').valueOf();
                let danger = moment(event['end']).valueOf();
                if (event.color != "#940101" && danger >= deadline) {
                    event.color = "#940101";
                    // event.editable= false; //TODO: ncoment
                    this.edit(event);
                    $('#calendar').fullCalendar('updateEvent', event);
                } else if (warning >= deadline && danger <= deadline) {
                    event.color = "#af5602";
                    $('#calendar').fullCalendar('updateEvent', event);
                } else if (warning <= deadline && danger <= deadline) {
                    event.color = "#06640f";
                    $('#calendar').fullCalendar('updateEvent', event);
                }
                return false;
            },
            clearTimer: function () {
                $('#progress').css("width", "0%");
                clearTimeout(this.timer);
            },
            calculeteTimer: function (fix=1) {
                let vm = this;
                this.clearTimer();
                let maxTime = moment(this.actualEvent.end.valueOf()) - moment(this.actualEvent.start.valueOf());
                let left = moment().add(fix, 'hour').valueOf() - moment(this.actualEvent.start.valueOf());
                let leftPercentage = Math.floor((left * 100) / maxTime);
                let start = new Date();
                let timeoutVal = Math.floor(maxTime / 100);
                animateUpdate();

                function updateProgress(percentage) {
                    $('#progress').css("width", percentage + "%");
                }

                function animateUpdate() {
                    let now = new Date();
                    let timeDiff = now.getTime() - start.getTime();
                    let perc = Math.round((timeDiff / maxTime) * 100) + leftPercentage;
                    if (perc <= 100) {
                        updateProgress(perc);
                        vm.timer = setTimeout(animateUpdate, timeoutVal);
                        if (perc == 100) {
                            // vm.calculeteTimer();
                        }
                    }

                }
            },
            edit: function (event) {
                let start = event.start.format('YYYY-MM-DD HH:mm:ss');
                let end;
                if (event.end) {
                    end = event.end.format('YYYY-MM-DD HH:mm:ss');
                } else {
                    end = start;
                }
                let editable = event.editable;
                if (editable == true) {
                    editable = 1;
                } else {
                    editable = 0;
                }
                this.$http.post(window.location.origin + '/admin/user/edit/event/calendar', {
                    id: event.id,
                    start: start,
                    end: end,
                    color: event.color,
                    editable: editable,
                }).then(function (data, status, request) {
                    return true;

                }, function (response) {
                    alert('Błąd! Zmiany nie zostały wprowadzone');
                    console.log('Error:', response);
                });

            },
            addEvent: function (event) {
                let start = event.start.format('YYYY-MM-DD HH:mm:ss');
                let end = "";
                let newId = "";
                let title = event.title;
                let client = event.client;
                if (event.end) {
                    end = event.end.format('YYYY-MM-DD HH:mm:ss');
                } else {
                    end = start;
                }
                // console.log(event);
                this.$http.post(window.location.origin + '/admin/task/add', {
                    title: title + ' ',
                    start: start,
                    client: client,
                    color: event.color,
                    project_id: event.project_id2,
                    end: end,
                    deadline: event.deadline,
                    duration: event.duration2,
                    userId: userId,
                    date: '',
                    time: '',
                    type: 0
                }).then(function (data, status, request) {
                    event.id = data.body.task.id;
                    $('#calendar').fullCalendar('updateEvent', event);
                    return true;
                }, function (response) {
                    alert('Błąd! Zmiany nie zostały wprowadzone');
                    $('#calendar').fullCalendar('removeEvents', event.id);
                    console.log('Error:', response);
                });
            },
            updateActual: function () {
                let now = moment().add(1, 'hour').valueOf();

                let events = $('#calendar').fullCalendar('clientEvents',
                    function (event) {
                        return (moment(event.start).isSame(moment(), 'day'))
                    }
                );
                for (let i = 0; i < events.length; i++) {
                    let event = events[i];
                    if (now > moment(event['start'].valueOf()) && now < moment(event['end'].valueOf())) {
                        this.actualEvent = event;
                        this.calculeteTimer();
                    }
                    let deadline = moment(moment(event['deadline']).add(1, 'hour')).valueOf();
                    let warning = moment(event['end']).add(2, 'hour').valueOf();
                    let danger = moment(event['end']).valueOf();
                    if (event.color != "#940101" && danger >= deadline) {
                        event.color = "#940101";
                        // event.editable= false; //TODO: ncoment
                        this.edit(event);
                        $('#calendar').fullCalendar('updateEvent', event);
                    } else if (warning >= deadline && danger <= deadline) {
                        event.color = "#af5602";
                        $('#calendar').fullCalendar('updateEvent', event);
                    }
                }
            },
            getHours: function () {
                this.$http.get(window.location.origin + '/admin/options/hours', {}).then(function (data, status, request) {
                    this.businessHours.globalStart = data.body.globalStart[0];
                    this.businessHours.globalEnd = data.body.globalEnd[0];
                });
            }
        },
        mounted() {
            this.getUserId();
            this.getHours();
            this.bind();
            moment.updateLocale('pl', null);
            setInterval(this.updateActual, 310000);
        }
    }
</script>
