header {
  float: left;
  width: 100%;
}

header .logo {
  width: 15%;
  float: left;
  padding-left: 20px;
}

header p {
  margin-bottom: 0;
}

header form {
  float: left;
}

header button {
  margin-bottom: 17px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
  color: #fff;
  margin-right: 20px;
  width: 140px;
  height: 60px;
  float: left;
  line-height: 20px;
}

header button img {
  width: 30px;
  height: 30px;
}

header .icon {
  width: 30px;
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .text {
  width: 80px;
  float: left;
  text-align: left;
  padding-left: 15px;
}

header .form_search {
  float: right;
  padding-right: 50px;
}

header .form_search input {
  height: 35px;
  color: #fff;
  padding-left: 10px;
}

header .search {
  background: url("../images/icon_search.svg") no-repeat scroll 180px 4.5px;
  background-size: 9%;
  border-radius: 5px;
}

header .buttons {
  width: 85%;
  float: left;
}

header .btn_options {
  width: 60px;
  padding: 1px;
  float: right;
}

header .btn_options img {
  width: 50px;
  height: 50px;
}

header .btn_options.profile img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
  header .logo img {
    height: 40px;
    margin-left: 20px;
  }
  header .icon {
    width: 18px;
  }
  header p {
    font-size: 11px;
  }
  header button {
    padding: 2px 7px;
    font-size: 12px;
    width: 110px;
    height: 35px;
    margin-bottom: 5px;
  }
  header button img {
    width: 20px;
    height: 20px;
  }
  header .text {
    width: 75px;
    line-height: 15px;
    font-size: 12px;
  }
  header .form_search {
    font-size: 13px;
  }
  header .form_search input {
    height: 20px;
  }
  header .search {
    background: url("../images/icon_search.svg") no-repeat scroll 160px 2.5px;
    background-size: 7%;
  }
  header .btn_options {
    width: 40px;
    padding: 1px;
  }
  header .btn_options img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1000px) {
  header .form_search {
    display: none;
  }
  header .logo {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
  header .buttons {
    width: 100%;
  }
  header button {
    margin: 5px;
  }
}

section.calendar-wrap {
  float: left;
  width: 85%;
  position: relative;
}

.errors {
  width: 35%;
  bottom: inherit;
  position: fixed;
  z-index: 10000;
}

.fc-unthemed .fc-divider {
  display: none !important;
}

#calendar {
  width: 100%;
  height: 795px;
}

#calendar .deadline {
  padding-left: 11px;
  font-size: 14px;
  position: absolute;
  bottom: 10px;
}

#calendar .fc-nonbusiness {
  background: #2f2f2f;
}

#calendar .fc-time-grid .fc-slats td {
  height: 2.2em;
  border-color: #323232;
}

.fc-day-header {
  background-color: #636363;
  height: 20px !important;
}

.fc-day-header span {
  line-height: 38px;
}

.fc-ltr .fc-axis {
  background-color: #636363;
  padding-left: 20px;
  padding-right: 7px;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view, .fc-unthemed .fc-unthemed .fc-popover,
.fc-unthemed .fc-row, .fc-unthemed .fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #323232;
}

.fc-today {
  background-color: #363636 !important;
}

.fc-title {
  font-size: 16px;
}

.fc-time span {
  font-size: 14px;
}

.fc-event {
  margin-top: 2px;
  margin-bottom: 2px;
}

.fc-event .fc-bg {
  background: transparent;
}

.fc-content {
  padding: 10px 10px 0 10px;
}

.task-client {
  padding-left: 11px;
  padding-top: 3px;
  font-size: 14px;
}

.play-bg {
  background-image: url("../images/icon_stop_bg.svg");
  right: 10px;
  top: 5px;
}

.stop-bg {
  background-image: url("../images/icon_play_bg.svg");
  right: 10px;
  top: 5px;
}

.pause-bg {
  background-image: url("../images/icon_pause.svg");
  right: 10px;
  top: 5px;
}

.clock-overtime-bg {
  background-image: url("../images/icon_clock_overtime.png");
  bottom: 5px;
  right: 15px;
}

.clock-less-bg {
  background-image: url("../images/icon_clock_less.svg");
  top: 5px;
  right: 43px;
}

.clock-more-bg {
  background-image: url("../images/icon_clock_more.svg");
  top: 5px;
  right: 43px;
}

.clock-ok-bg {
  background-image: url("../images/icon_clock_ok.svg");
  top: 5px;
  right: 43px;
}

.divided-bg {
  background-image: url("../images/icon_task_resumed.svg");
  right: 15px;
  bottom: 10px;
}

.resumed-bg {
  background-image: url("../images/icon_task_divided.svg");
  right: 15px;
  bottom: 10px;
}

.btn-bg {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

@media screen and (min-width: 2000px) {
  #calendar {
    width: 100%;
    height: 1130px;
  }
  #calendar .fc-time-grid .fc-slats td {
    height: 3.2em;
  }
}

@media screen and (max-width: 1400px) {
  .btn-bg {
    right: 3px;
    bottom: 5px;
    width: 22px;
    height: 22px !important;
  }
  .btn-1400,
  .deadline-1400 {
    display: none !important;
  }
  .fc-content {
    padding: 3px 10px 0 10px;
  }
  .fc-title {
    font-size: 12px;
  }
  .task-client {
    font-size: 11px;
  }
  #calendar .deadline {
    font-size: 10px;
  }
  #calendar {
    height: 550px;
  }
  #calendar .fc-time-grid .fc-slats td {
    height: 10px;
  }
  #calendar .fc-day-header span {
    line-height: 20px;
    font-size: 13px;
  }
  .fc-agenda-slots td div {
    height: 40px !important;
  }
}

@media screen and (max-width: 1000px) {
  section.calendar-wrap {
    width: 100%;
  }
}

aside {
  float: left;
  width: 14.8%;
  margin-right: 0.2%;
  background-color: #acacac;
  min-height: 900px;
  margin-top: 1px;
  overflow: hidden;
  height: 93vh;
}

@-moz-document url-prefix() {
  aside .aside-wrap {
    margin-right: -10px;
  }
}

aside .aside-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

aside button {
  background: url("../images/icon_arrow2_down.svg") no-repeat right;
  background-size: 10%;
  background-color: #464646;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 96%;
  text-align: left;
  padding: 10px;
  margin: 10px 5px;
  font-weight: 700;
  background-position-x: 95%;
}

aside button .text {
  width: 80%;
  float: left;
  line-height: 34px;
  font-weight: 700;
}

aside button#add_user {
  background: url("../images/icon_plus.svg") no-repeat right;
  background-size: 13%;
  padding: 5px 10px;
  background-color: #a0262c;
  background-position-x: 95%;
}

aside button#add_user .text {
  line-height: 20px;
}

aside button#add_user .icon img {
  width: 30px;
}

aside button#add_task {
  background: url("../images/icon_plus.svg") no-repeat right;
  background-size: 13%;
  background-color: #00723a;
  background-position-x: 95%;
}

aside button#add_task .icon img {
  width: 30px;
}

aside button#add_task .text {
  line-height: 40px;
}

aside button .icon {
  float: right;
  padding: 5px 10px;
  width: 20%;
}

aside button .icon img {
  width: 25px;
}

aside .items {
  margin: 0 20px 0 5px;
}

aside .items .item {
  margin-bottom: 5px;
  background-color: #636363;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  float: left;
  width: 100%;
}

aside .items .item .title {
  font-size: 16px;
  float: left;
  width: 60%;
}

aside .items .item .user-name {
  float: left;
  padding-bottom: 10px;
  width: 100%;
}

aside .items .item .deadline-sb {
  float: left;
  width: 60%;
  display: inline;
}

aside .items .item .time2 {
  float: right;
}

aside .users {
  margin: 0 20px 0 5px;
}

aside .users .user {
  margin-bottom: 5px;
  background-color: #636363;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  min-height: 65px;
}

aside .users .image {
  float: left;
  width: 45px;
  margin-right: 15px;
}

aside .users .image img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #fff;
}

aside .users .name {
  font-size: 16px;
}

@media screen and (min-width: 2000px) {
  aside button#add_user,
  aside button#add_task {
    background-size: 11%;
  }
  aside {
    min-height: 1209px;
  }
}

@media screen and (max-width: 1400px) {
  .clock-overtime-bg {
    bottom: 25px;
  }
  aside {
    min-height: 654px;
  }
  aside button {
    margin: 4.7px 5px;
    font-size: 14px;
    background-size: 12% !important;
    padding: 5px 10px;
  }
  aside button#add_user {
    padding: 4px 10px;
    line-height: 16px;
  }
  aside .items {
    margin: 0 10px 0 5px;
  }
  aside .items .item {
    padding: 3px 10px;
    font-size: 12px;
  }
  aside .items .item .title {
    font-size: 14px;
  }
  aside .items .item .user-name {
    padding-bottom: 4px;
  }
  aside .users {
    margin: 0 10px 0 5px;
  }
  aside .users .user {
    padding: 5px;
    font-size: 12px;
  }
  aside .users .name {
    font-size: 14px;
  }
  aside .users .image {
    width: 37px;
  }
}

@media screen and (max-width: 1000px) {
  aside {
    display: none;
  }
}

footer {
  float: left;
  width: 85%;
  font-size: 20px;
}

footer .progress {
  background: #494949;
}

footer .progress-bar-wrap {
  margin: 10px;
  padding-right: 40px;
}

footer .progress-bar {
  height: 10px;
  background-image: -webkit-linear-gradient(-90deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #0c6b00, #9c0202);
  border-radius: 5px;
}

footer .title {
  padding-top: 10px;
  padding-left: 30px;
}

footer .buttons {
  text-align: center;
}

footer .buttons button {
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  vertical-align: -webkit-baseline-middle;
  margin: 0 15px;
}

footer .buttons .stop {
  height: 40px;
  width: 40px;
  background-image: url("../images/icon_stop.svg");
}

footer .buttons .start {
  background-image: url(" ../images/icon_play.svg");
}

footer .buttons .pause {
  background-image: url("../images/icon_pause.svg");
  height: 40px;
  width: 40px;
}

footer .time {
  padding-top: 10px;
  text-align: right;
  padding-right: 50px;
}

.resolution-alert {
  display: none;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  background-color: red;
}

@media screen and (max-width: 1400px) {
  footer .title {
    padding-top: 0;
    font-size: 16px;
  }
  footer .time {
    padding-top: 0;
    font-size: 16px;
  }
  footer .progress-bar {
    height: 0.4rem;
  }
  footer .progress-bar-wrap {
    margin: 5px;
  }
  footer .buttons {
    text-align: center;
  }
  footer .buttons button {
    height: 25px;
    width: 25px;
    margin: 0 15px 13px 15px;
    background-repeat: no-repeat;
  }
  footer .buttons .stop {
    height: 20px;
    width: 20px;
  }
  footer .buttons .pause {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    width: 100%;
  }
  footer .buttons button {
    height: 45px;
    width: 45px;
  }
  footer .buttons .stop,
  footer .buttons .pause {
    height: 35px;
    width: 35px;
  }
  .resolution-alert {
    display: block;
  }
}

#sub-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 320px;
  height: 320px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;
}

#sub-modal .question {
  padding-bottom: 20px;
  font-size: 20px;
}

#sub-modal .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
}

#sub-modal .client {
  font-size: 24px;
}

#sub-modal .buttons button {
  height: 70px;
  width: 70px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  margin: 30px 15px;
  background-size: contain;
  z-index: 1000000;
}

#sub-modal .buttons button.btn-yes {
  background: url("../images/yes.png");
}

#sub-modal .buttons button.btn-no {
  background: url("../images/no.png");
}

#add-hours-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 350px;
  height: 275px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;
  font-size: 20px;
}

#add-hours-modal .date {
  line-height: 22px;
  padding-bottom: 20px;
}

#add-hours-modal .buttons button {
  height: 70px;
  width: 70px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  margin: 30px 15px;
  background-size: contain;
  z-index: 1000000;
}

#add-hours-modal .buttons button.btn-yes {
  background: url("../images/yes.png");
}

#add-hours-modal .buttons button.btn-no {
  background: url("../images/no.png");
}

#add-hours-manager-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 300px;
  height: 370px;
  text-align: center;
  padding-top: 40px;
  border-radius: 10px;
  font-size: 20px;
}

#add-hours-manager-modal .question {
  padding-bottom: 15px;
}

#add-hours-manager-modal .user-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

#add-hours-manager-modal .user-position {
  padding-bottom: 17px;
}

#add-hours-manager-modal .task-name {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
}

#add-hours-manager-modal .client {
  font-size: 24px;
}

#add-hours-manager-modal .buttons button {
  height: 70px;
  width: 70px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  margin: 30px 15px;
  background-size: contain;
  z-index: 1000000;
}

#add-hours-manager-modal .buttons button.btn-yes {
  background: url("../images/yes.png");
}

#add-hours-manager-modal .buttons button.btn-no {
  background: url("../images/no.png");
}

#deadline-alert-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 300px;
  height: 300px;
  text-align: center;
  padding-top: 25px;
  border-radius: 10px;
  font-size: 20px;
}

#deadline-alert-modal .answer {
  padding-bottom: 20px;
  font-size: 20px;
}

#deadline-alert-modal .user-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

#deadline-alert-modal .user-position {
  padding-bottom: 17px;
}

#deadline-alert-modal .task-name {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
}

#deadline-alert-modal .client {
  font-size: 24px;
}

#deadline-alert-modal .alert img {
  height: 90px;
  width: 80px;
}

#deadline-alert-modal .buttons button {
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  margin: 20px 15px;
  background-size: contain !important;
  z-index: 1000000;
}

#deadline-alert-modal .buttons button.btn-yes {
  background: url("../images/yes.png");
}

#deadline-alert-modal .buttons button.btn-no {
  background: url("../images/no.png");
}

@media screen and (max-width: 1800px) {
  #add-task-modal .header, #add-user-modal .header {
    margin-bottom: 10px;
  }
  #deadline-alert-modal {
    top: 15%;
  }
}

#add-task-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 800px;
  height: 410px;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 20px;
}

#add-task-modal label {
  font-size: 20px;
  width: 17%;
}

#add-task-modal input {
  background-color: #959595;
  border: 1px solid #fff;
}

#add-task-modal input[type='text'] {
  width: 81%;
}

#add-task-modal .task-title {
  margin-bottom: 10px;
}

#add-task-modal .client-name {
  margin-bottom: 30px;
}

#add-task-modal .estimated-time {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

#add-task-modal .estimated-time h6 {
  font-size: 20px;
}

#add-task-modal .estimated-time .selection {
  border-radius: 0 !important;
  background-color: #959595;
}

#add-task-modal form > .buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#add-task-modal .select2 {
  width: 55px;
  text-align: right;
}

#add-task-modal .select2-container--default .select2-selection--single {
  background-color: #959595;
  border-radius: 0;
}

#add-task-modal .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
}

#add-task-modal .selects {
  float: left;
  margin-right: 25px;
}

#add-task-modal .deadline-set input {
  width: 200px;
  color: #fff;
}

#add-task-modal .deadline-set label {
  width: 10%;
}

#add-task-modal .deadline-set .date-input {
  background: url("../images/icon_calendar_month.svg") no-repeat scroll 169px 4.5px;
  padding-left: 20px;
  background-size: 12%;
}

#add-task-modal .deadline-set .time-input {
  background: url("../images/icon_clock.svg") no-repeat scroll 169px 4.5px;
  padding-left: 20px;
  background-size: 12%;
}

#add-task-modal .deadline-set h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1800px) {
  #add-task-modal label {
    font-size: 16px;
  }
  #add-task-modal input[type='text'] {
    width: 77%;
  }
  #add-task-modal label {
    width: 20%;
  }
  #add-task-modal .client-name {
    margin-bottom: 6px;
  }
  #add-task-modal .estimated-time {
    margin-bottom: 20px;
  }
  #add-task-modal {
    height: 52%;
  }
}

@media screen and (min-width: 2000px) {
  #add-task-modal {
    width: 800px;
    height: 410px;
  }
}

@media screen and (max-width: 1400px) {
  #add-task-modal {
    width: 800px;
    height: 410px;
  }
}

#add-user-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 830px;
  height: 428px;
  padding: 20px 15px;
  border-radius: 10px;
  font-size: 20px;
}

#add-user-modal .photo label {
  width: 100%;
  overflow: hidden;
}

#add-user-modal .photo .attach {
  padding-top: 5px;
  width: 65px;
}

#add-user-modal #photo-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#add-user-modal .kind {
  padding-bottom: 15px;
  padding-top: 5px;
}

#add-user-modal .kind .text {
  display: inline;
}

#add-user-modal .kind input {
  border: 1px solid #000;
  padding: 0.6em;
  -webkit-appearance: none;
  margin: -6px 0;
  margin-left: 10px;
}

#add-user-modal .kind input:checked {
  border: 3px solid black;
  background-color: #a0262c;
}

#add-user-modal .kind input:focus {
  outline: none;
}

#add-user-modal input {
  background-color: #959595;
  border: 1px solid #fff;
  margin-bottom: 15px;
}

#add-user-modal label {
  width: 110px;
  font-size: 20px;
}

#add-user-modal form > .buttons {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#add-user-modal input[type='number'] {
  width: 70px;
  text-align: right;
}

#add-user-modal .surname {
  margin-bottom: 25px;
}

#add-user-modal .prices {
  margin-left: 20px;
  width: 100%;
  padding-top: 20px;
}

#add-user-modal .prices .price {
  float: left;
}

#add-user-modal .prices h5 {
  margin-bottom: 15px;
}

#add-task-modal input,
#add-user-modal input {
  color: #fff;
}

#add-task-modal input[type='text'],
#add-task-modal input[type='password'],
#add-user-modal input[type='text'],
#add-user-modal input[type='password'] {
  padding-left: 10px;
}

#add-task-modal .header,
#add-user-modal .header {
  height: 50px;
  background-color: #555555;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

#add-task-modal .header .image,
#add-user-modal .header .image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-task-modal .header .image img,
#add-user-modal .header .image img {
  width: 30px;
  height: 30px;
}

#add-task-modal .header .title,
#add-user-modal .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-left: 10px;
  font-size: 24px;
}

#add-task-modal .header .buttons,
#add-user-modal .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-left: auto;
}

#add-task-modal .header .buttons button,
#add-user-modal .header .buttons button {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1000000;
}

#add-task-modal .header .buttons button.btn-no,
#add-user-modal .header .buttons button.btn-no {
  background: url("../images/icon_close.svg");
}

.hide {
  margin-left: auto;
}

.hide button.hide {
  background: url("../images/icon_arrow1_right.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 25px;
  background-size: 20px;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.photo label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo #upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.photo .attach {
  padding-top: 5px;
  width: 65px;
}

.header-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 10px;
  margin-right: 15px;
  border-bottom: 3px solid #b7b7b7;
}

.header-hide .image {
  width: 25px;
  float: left;
  margin-right: 10px;
}

.header-hide .text {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 1800px) {
  #add-user-modal .surname {
    margin-bottom: 0;
  }
  #add-user-modal input {
    background-color: #959595;
    border: 1px solid #fff;
    margin-bottom: 5px;
  }
  #add-user-modal {
    top: 15%;
  }
}

.custom-bh .task-client {
  display: none;
}

.custom-bh .deadline {
  display: none;
}

.custom-bh {
  background-color: #2f2f2f;
}

#task_history {
  height: 100%;
}

#task-view {
  display: none;
  z-index: 1000000000;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
}

#task-view input {
  color: #fff;
}

#task-view #task_attach {
  height: 100%;
}

#task-view input[type='text'],
#task-view input[type='password'] {
  padding-left: 10px;
}

#task-view .area-full {
  width: 100%;
}

#task-view > .header {
  background-color: #036114;
  height: 70px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #fff;
}

#task-view > .header h5 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

#task-view > .header h6 {
  font-size: 18px;
}

#task-view > .header .image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#task-view > .header .image img {
  width: 30px;
  height: 30px;
}

#task-view > .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-left: 10px;
  font-size: 24px;
}

#task-view > .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-left: auto;
}

#task-view > .header .buttons button {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1000000;
}

#task-view > .header .buttons button.btn-no {
  background: url("../images/icon_close.svg");
}

#task-view .notes-time {
  float: left;
  width: 61%;
  padding: 0 2.5px;
  height: 97%;
  position: relative;
}

#task-view .notes-time .delete-task {
  position: absolute;
  right: 15px;
  top: 0;
}

#task-view .notes-time .task-delete {
  border: 1px solid rgba(250, 0, 0, 0.73);
  background: transparent;
  color: rgba(250, 0, 0, 0.73);
}

#task-view .notes-time > .header {
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 18px;
}

#task-view .notes-time .notes-wrap {
  background-color: #cccccc;
  border-radius: 5px;
  height: 605px;
}

#task-view .notes-time .notes-wrap > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 3px solid #b7b7b7;
}

#task-view .notes-time .notes-wrap > .header .image {
  width: 25px;
  float: left;
  margin-right: 10px;
}

#task-view .notes-time .notes-wrap > .header .text {
  font-size: 18px;
  font-weight: 700;
}

#task-view .notes-time .notes-wrap .notes {
  padding-left: 15px;
  padding-bottom: 20px;
  overflow: scroll;
  height: 87%;
}

#task-view .notes-time .notes-wrap .notes .note {
  position: relative;
}

#task-view .notes-time .notes-wrap .notes .note .delete-note-wrapp {
  position: absolute;
  right: 20px;
  top: 0;
}

#task-view .notes-time .notes-wrap .notes .note .note-delete {
  background: none;
  border: none;
  font-size: 0.9vw;
  color: #ff000091;
}

#task-view .notes-time .notes-wrap .notes .note .header {
  font-size: 16px;
  margin-top: 10px;
}

#task-view .notes-time .notes-wrap .notes .note .body {
  border: 1px solid #959595;
  margin-right: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: #e1e1e1;
  border-radius: 5px;
}

#task-view .attachments-wrapp {
  float: left;
  width: 19%;
  background-color: #cccccc;
  border-radius: 5px;
  margin: 0 2.5px;
  padding: 10px;
  height: 694px;
}

#task-view .attachments-wrapp > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 10px;
  margin-right: 15px;
  border-bottom: 3px solid #b7b7b7;
}

#task-view .attachments-wrapp > .header .image {
  width: 25px;
  float: left;
  margin-right: 10px;
}

#task-view .attachments-wrapp > .header .text {
  font-size: 18px;
  font-weight: 700;
}

#task-view .attachments-wrapp .add {
  float: left;
  padding-top: 20px;
}

#task-view .attachments-wrapp .add button {
  background-color: #636363;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
}

#task-view .attachments-wrapp .attachments {
  font-size: 16px;
  line-height: 20px;
  float: left;
  height: 91%;
  overflow: scroll;
}

#task-view .attachments-wrapp .attachments .attachment {
  margin-top: 10px;
  padding-bottom: 10px;
  float: left;
  border-bottom: 1px solid gray;
}

#task-view .attachments-wrapp .attachments .attachment .title {
  width: 100%;
  float: left;
}

#task-view .attachments-wrapp .attachments .attachment .file {
  width: 60%;
  float: left;
  overflow: hidden;
}

#task-view .attachments-wrapp .attachments .attachment .file button {
  width: 150px;
  height: 60px;
  background-color: #707070;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 5px;
}

#task-view .attachments-wrapp .attachments .attachment .file img {
  width: 150px;
  height: 100px;
}

#task-view .attachments-wrapp .attachments .attachment .buttons {
  width: 40%;
  float: left;
}

#task-view .attachments-wrapp .attachments .attachment .buttons button, #task-view .attachments-wrapp .attachments .attachment .buttons a {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 14px;
  padding-left: 30px;
  margin: 5px 0;
}

#task-view .attachments-wrapp .attachments .attachment .buttons a {
  padding: 3px 0 3px 30px;
}

#task-view .attachments-wrapp .attachments .attachment .buttons .delete {
  background: url("../images/icon_delate.svg");
  background-repeat: no-repeat;
}

#task-view .attachments-wrapp .attachments .attachment .buttons .download {
  background: url("../images/icon_download.svg");
  background-repeat: no-repeat;
}

#task-view .history {
  float: left;
  width: 19%;
  background-color: #cccccc;
  border-radius: 5px;
  margin: 0 2.5px;
  font-size: 16px;
  padding: 10px;
  height: 694px;
}

#task-view .history > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 10px;
  margin-right: 15px;
  border-bottom: 3px solid #b7b7b7;
}

#task-view .history > .header .image {
  width: 25px;
  float: left;
  margin-right: 10px;
}

#task-view .history > .header .text {
  font-size: 18px;
  font-weight: 700;
}

#task-view .history .logs {
  overflow: scroll;
  height: 92%;
}

#task-view .history .logs .log {
  padding-top: 10px;
  line-height: 20px;
}

.add_attachment {
  background-color: #636363;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.9vw;
  cursor: pointer;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add_note {
  padding-top: 15px;
}

.add_note textarea {
  background-color: #e1e1e1;
  font-size: 0.9vw;
  color: #000;
  text-indent: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 1400px) {
  #task-view .notes-time .delete-task {
    font-size: 12px;
    top: -5px;
  }
  #task-view .history {
    margin: 1px;
  }
  #task-view .attachments-wrapp {
    height: 88%;
    margin: 1px;
  }
  #task-view .history {
    height: 88%;
  }
  #task-view > .header {
    font-size: 0.9vw;
  }
  #task-view > .header {
    height: 40px;
  }
  #task-view > .header h6 {
    font-size: 0.8vw;
  }
  #task-view > .header h5 {
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 0.9vw;
  }
  #task-view .history {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp .attachments {
    font-size: 0.9vw;
  }
  #task-view .notes-time > .header {
    padding-bottom: 1px;
    font-size: 0.9vw;
  }
  #task-view .notes-time .notes-wrap > .header .text {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp > .header .text {
    font-size: 0.9vw;
  }
  #task-view .history > .header .text {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp,
  #task-view .history {
    padding: 5px 10px 5px 10px;
  }
  #task-view .attachments-wrapp .attachments .attachment .file img {
    width: 120px;
    height: 80px;
  }
  #task-view .attachments-wrapp .attachments .attachment .file button {
    width: 70px;
    height: 30px;
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp .add button {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp .attachments .attachment .file {
    width: 53%;
  }
  #task-view .attachments-wrapp .attachments .attachment .buttons button {
    font-size: 0.9vw;
    padding-left: 37px;
    line-height: 15px;
  }
  #task-view .notes-time .notes-wrap .notes .note .body {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp > .header,
  #task-view .notes-time .notes-wrap > .header,
  #task-view .history > .header {
    padding-bottom: 5px;
    font-size: 14px;
  }
  #task-view .notes-time .notes-wrap .notes .note .header {
    font-size: 0.9vw;
  }
  #task-view .notes-time .notes-wrap {
    height: 83.7%;
  }
}

@media screen and (max-width: 1300px) {
  aside button {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .deadline {
    display: none !important;
  }
  .task-client {
    font-size: 9px;
  }
  aside button {
    font-size: 11px;
  }
}

#profile-view {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: #363636;
}

#profile-view .edit {
  cursor: pointer;
}

#profile-view > .header {
  background-color: #036114;
  height: 70px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: #fff;
  margin-bottom: 7px;
}

#profile-view > .header h5 {
  font-size: 24px;
  font-weight: 700;
}

#profile-view > .header h6 {
  font-size: 18px;
}

#profile-view > .header .image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profile-view > .header .image img {
  width: 30px;
  height: 30px;
}

#profile-view > .header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-left: 10px;
  font-size: 24px;
}

#profile-view > .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-left: auto;
}

#profile-view > .header .buttons button {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1000000;
}

#profile-view > .header .buttons button.btn-no {
  background: url("../images/icon_close.svg");
}

#profile-view .photo h5 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}

#profile-view .photo .add-file:before {
  display: block;
  content: '';
  clear: both;
}

#profile-view .photo .add-file {
  display: block;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 120px;
  left: 36px;
  overflow: hidden;
  width: 100px;
}

#profile-view .photo img {
  width: 85px;
  height: 85px;
  border: 3px solid white;
  border-radius: 5px;
}

#profile-view input {
  background-color: #959595;
  border: 1px solid #fff;
  width: 100%;
  text-indent: 10px;
}

#profile-view .kind {
  padding-bottom: 15px;
  padding-top: 5px;
}

#profile-view .kind .text {
  display: inline;
}

#profile-view .kind input {
  width: 5px;
  border: 1px solid #fff;
  padding: 0.6em;
  -webkit-appearance: none;
  margin: -6px 0;
  margin-left: 10px;
}

#profile-view .kind input:checked {
  border: 3px solid black;
  background-color: #a0262c;
}

#profile-view .kind input:focus {
  outline: none;
}

#profile-view .creditionals {
  float: left;
  padding: 0 35px 0 15px;
  border-right: 1px solid #363636;
  max-width: 33%;
  margin-top: 12px;
}

#profile-view .creditionals input {
  position: relative;
}

#profile-view .creditionals .edit {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: -22px;
}

#profile-view .creditionals .photo {
  margin-right: 0;
  padding-right: 0;
  padding-left: 15px;
}

#profile-view .creditionals .save {
  text-align: right;
  float: right;
}

#profile-view .creditionals .save button {
  margin-top: 35px;
  font-weight: 600;
  font-size: 20px;
}

#profile-view .creditionals .personal > div:first-child {
  margin-top: 0;
  position: relative;
}

#profile-view .creditionals .personal > div {
  margin-top: 20px;
  margin-top: 20px;
  position: relative;
}

#profile-view .creditionals .personal.admin {
  margin-top: 20px;
}

#profile-view .creditionals .prices {
  float: left;
  width: 100%;
}

#profile-view .creditionals .prices .edit {
  font-weight: 300;
  font-size: 14px;
  position: absolute;
  left: 39px;
  bottom: -22px;
}

#profile-view .creditionals .prices input {
  margin-top: 10px;
  width: 70px;
  text-align: right;
}

#profile-view .creditionals .prices .price {
  float: left;
  width: 100%;
  padding: 0;
}

#profile-view .creditionals .prices .priceO {
  float: right;
}

#profile-view .timetable-wrapp {
  margin-top: 12px;
  float: left;
  max-width: 47%;
  padding: 0 35px;
}

#profile-view .timetable-wrapp .header:after {
  display: block;
  content: '';
  clear: both;
}

#profile-view .timetable-wrapp .header {
  width: 100%;
}

#profile-view .timetable-wrapp .header .previous {
  float: left;
}

#profile-view .timetable-wrapp .header .text {
  float: right;
  font-size: 20px;
  font-weight: 700;
}

#profile-view .timetable-wrapp .timetables {
  position: relative;
}

#profile-view .timetable-wrapp .timetables .timetable {
  background-color: #d7d7d7;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

#profile-view .timetable-wrapp .timetables .timetable .saveTimetable {
  font-size: 18px;
  padding: 2px 10px;
  margin-bottom: 0;
}

#profile-view .timetable-wrapp .timetables .timetable .date {
  width: 100%;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 3px;
}

#profile-view .timetable-wrapp .timetables .timetable .save {
  text-align: right;
}

#profile-view .timetable-wrapp .timetables .timetable input {
  width: 70%;
}

#profile-view .timetable-wrapp .timetables .timetable select {
  background-color: #a1a1a1;
  color: #fff;
  border: 1px solid #fff;
  text-align: right;
}

#profile-view .timetable-wrapp .timetables .timetable .day {
  padding-top: 6px;
}

#profile-view .timetable-wrapp .next {
  float: left;
  width: 100%;
  text-align: right;
}

#profile-view .timetable-wrapp .nextBtn {
  margin-top: 10px;
  background: url("../images/icon_next.svg");
  background-position: 92% 50%;
  background-repeat: no-repeat;
  background-color: #cccccc !important;
  background-size: 13% !important;
  padding: 2px 42px 2px 23px;
}

#profile-view .timetable-wrapp .prevBtn {
  background: url("../images/icon_previous.svg");
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-color: #cccccc !important;
  background-size: 13% !important;
  padding: 2px 18px 2px 37px;
}

#profile-view .history-wrap {
  float: left;
  max-width: 20%;
  background-color: #cccccc;
  padding-top: 2px;
  border-radius: 5px;
  padding-bottom: 20px;
  position: relative;
  height: 88%;
}

#profile-view .history-wrap > .header .image {
  width: 25px;
}

#profile-view .history-wrap .item {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#profile-view .history-wrap .hours, #profile-view .history-wrap .overTime {
  font-weight: 700;
}

#profile-view .history-wrap .history-log-stat {
  float: left;
  margin-top: 7px;
}

#profile-view .history-wrap .actual {
  border-top: 2px solid #b7b7b7;
  padding-top: 10px;
  position: absolute;
  bottom: 20px;
}

#profile-view .history-wrap .actual h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

#profile-view .history-wrap .actual h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1px;
  margin-top: 7px;
}

#profile-view .history-wrap .actual .time {
  font-size: 32px;
  font-weight: 700;
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 23px;
  border-radius: 5px;
  float: left;
  height: 60px;
  margin-right: 10px;
}

#profile-view .history-wrap .actual .reset {
  float: right;
}

#profile-view .history-wrap .actual .reset .resetTimeHistory {
  background: transparent;
  background: url("../images/icon_reset.svg");
  background-repeat: no-repeat;
  background-color: #a0262c;
  background-size: 45%;
  background-position: 50% 20%;
  border-radius: 7px;
  font-size: 11px;
  font-weight: 700;
  text-align: left;
  padding: 40px 8px 5px 8px;
  color: #fff;
  border: none;
}

@media screen and (max-width: 1650px) {
  #profile-view .timetable-wrapp .timetables .timetable {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .timetables .timetable select {
    text-indent: 0;
    width: 70%;
  }
  #profile-view .timetable-wrapp .timetables .timetable .saveTimetable {
    font-size: 12px;
    padding: 1px 10px;
    margin-bottom: 2px;
  }
  #profile-view .timetable-wrapp .timetables .timetable .date {
    padding-bottom: 1px;
  }
}

@media screen and (max-width: 1400px) {
  .timetable-box {
    padding: 1px;
  }
  #add-task-modal .header .title, #add-user-modal .header .title {
    font-size: 18px;
  }
  #profile-view > .header h5 {
    font-size: 0.9vw;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 7px;
  }
  #profile-view > .header h6 {
    font-size: 0.8vw;
  }
  #profile-view > .header {
    height: 37px;
    margin-bottom: 5px;
  }
  #profile-view .photo img {
    width: 60px;
    height: 60px;
  }
  #profile-view .photo .add-file {
    font-size: 9px;
    top: 97px;
  }
  #profile-view .photo h5 {
    font-size: 15px;
  }
  #profile-view .creditionals .personal > div {
    margin-top: 5px;
  }
  .personal label {
    margin-bottom: 0;
    font-size: 14px;
  }
  #profile-view {
    font-size: 14px;
  }
  #profile-view input {
    height: 25px;
  }
  .text {
    font-size: 14px;
  }
  .btn-gray {
    font-size: 14px;
  }
  #profile-view .creditionals .save button {
    font-size: 12px;
  }
  .prices {
    font-size: 14px;
    padding-top: 15px;
  }
  #profile-view .creditionals .prices .edit {
    font-size: 12px;
    bottom: -18px;
  }
  #profile-view .creditionals .edit {
    font-size: 12px;
    bottom: -18px;
  }
  #profile-view .creditionals .prices input {
    margin-top: 0px;
  }
  aside .users .user {
    min-height: 55px;
  }
  #profile-view .kind input {
    height: 15px;
  }
  #profile-view .kind {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .days .day .col-lg-5 {
    padding-right: 5px;
    padding-left: 7px;
  }
  .calendar-wrap .btn-light-gray {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .header .text {
    font-size: 16px;
  }
  #profile-view .timetable-wrapp .timetables .timetable {
    margin-top: 4px;
    padding: 2px 10px;
  }
  #profile-view .timetable-wrapp .timetables .timetable .date {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .nextBtn {
    margin-top: 4px;
  }
  .header-hide .text {
    font-size: 0.8vw;
    font-weight: 700;
  }
  #profile-view .history-wrap > .header .image {
    width: 17px;
    margin-right: 4px;
  }
  .hide button.hide {
    font-size: 10px;
  }
  #profile-view .history-wrap .item {
    font-size: 0.9vw;
  }
  #profile-view .history-wrap {
    padding: 2px 8px 10px 8px;
  }
  #profile-view .history-wrap .actual h4 {
    font-size: 14px;
  }
  #profile-view .history-wrap .actual h2 {
    font-size: 16px;
  }
  #profile-view .history-wrap .actual .time {
    font-size: 22px;
    padding: 5px 19px;
    height: 40px;
  }
  #profile-view .history-wrap .actual .reset .resetTimeHistory {
    background-size: 37%;
    font-size: 8px;
    padding: 23px 4px 5px 5px;
  }
  #profile-view .creditionals {
    margin-top: 0;
  }
  #profile-view .timetable-wrapp {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  header .form_search {
    padding-right: 10px;
  }
  #profile-view .timetable-wrapp .timetables .timetable select {
    font-size: 10px;
  }
  #profile-view .timetable-wrapp .timetables .timetable {
    margin-top: 2px;
    padding: 1px 10px;
  }
  #profile-view .timetable-wrapp {
    height: 479px;
    overflow: scroll;
  }
  #profile-view .creditionals .photo {
    padding-left: 0;
  }
  #profile-view .photo .add-file {
    left: 0;
  }
}

#search {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
}

#search .items {
  overflow: scroll;
  height: 87%;
}

#search .item {
  background-color: #636363;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  min-height: 110px;
}

#settings {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
}

#settings .item {
  background-color: #636363;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

#settings .saveOptions {
  float: right;
}

body {
  background-color: #363636;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

#app {
  overflow-x: hidden;
}

#loader {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  border-radius: 5px;
}

#loader img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 38%;
}

button {
  cursor: pointer;
}

.fileHidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.loadingspin {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

button:focus {
  outline: none;
}

.select2-container {
  color: #000;
}

.btn-light-gray {
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

[v-cloak] {
  display: none;
}

.btn-gray {
  background-color: #555555;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 7px 13px;
  margin: 5px 0;
  font-weight: 500;
  font-size: 20px;
}

.header-full {
  background-color: #036114;
  height: 70px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: #fff;
  margin-bottom: 7px;
}

.header-full .image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-full .image img {
  width: 30px;
  height: 30px;
}

.header-full .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  padding-left: 10px;
  font-size: 24px;
}

.header-full .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-left: auto;
}

.header-full .buttons button {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  z-index: 1000000;
}

.header-full .buttons button.btn-no {
  background: url("../images/icon_close.svg");
}

::-webkit-scrollbar {
  display: none;
}

a,
a:focus,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  body {
    margin-top: 4px;
  }
  .header-full {
    height: 40px;
  }
  .btn-gray {
    font-size: 0.9vw;
  }
}

@media screen and (max-width: 1000px) {
  #add-task-modal,
  #profile-view,
  #task-view,
  .task-client,
  .deadline,
  .btn-bg {
    display: none !important;
  }
  .fc-time-grid-event.fc-short .fc-content,
  .fc-event .fc-content {
    padding: 3px;
  }
}
