<template>
    <div id="add-hours-manager-modal" class="modals" role="">
        <!-- Modal content-->
        <div class="content">
            <div class="question">
                Czy zgadzasz się na 2:00 nadgodziny?
            </div>
            <div class="user-name">
                Imię nazwisko
            </div>
            <div class="user-position">
                stanowisko
            </div>
            <div class="task-name">
                Nazwa taska
            </div>
            <div class="client">
                Nazwa klienta
            </div>
            <div class="buttons">
                <button class="btn-yes"></button>
                <button class="btn-no"></button>
            </div>
        </div>

    </div>
</template>
<script>

</script>