<template>

    <div id="add-user-modal" class="modals">
        <div class="content">
        <div class="header">
            <div class="image draggable-modal">
                <img src="../../../images/icon_plus.svg" alt="">
            </div>
            <div class="title">
                NOWY PRACOWNIK
            </div>
            <div class="buttons">
                <button class="btn-no"></button>
            </div>
        </div>
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="name">
                        <label for="first_name">Imię</label>
                        <input type="text" name="first_name" v-model="first_name" id="first_name">
                    </div>
                    <div class="surname">
                        <label for="second_name">Nazwisko</label>
                        <input type="text" id="second_name" v-model="second_name" name="second_name">

                    </div>
                    <div class="login">
                        <label for="nickname">Login</label>
                        <input type="text" id="nickname" name="nickname" v-model="nickname">

                    </div>

                    <div class="password">
                        <label for="password">Hasło</label>
                        <input type="password" id="password" name="password" v-model="password">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="position">
                        <label for="stand">Stanowisko</label>
                        <input type="text" id="stand" name="stand" v-model="stand">
                    </div>
                    <div class="kind">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text">Etat</div>
                                <input type="radio" value="1" name="type" v-model="type">
                            </div>
                            <div class="col-lg-5">
                                <div class="text">Freelance</div>
                                <input type="radio" value="0" name="type" v-model="type">
                            </div>
                        </div>
                    </div>
                    <div class="photo">
                        <h5>Zdjęcie</h5>
                        <label for="photo-input">
                            <div class="attach">
                                <img src="../../../images/Icon_attachment_photo.svg" alt="">
                            </div>
                            <div class="add-file">
                                Dodaj plik
                            </div>
                        </label>
                        <input type="file"  name="photo" id="photo-input" @change="photoChange">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="prices">
                    <div class="col-lg-4 price priceH">
                        <h5>Stawka godzinowa</h5>
                        <input type="number" name="pay_standard" v-model="pay_standard"> zł
                    </div>
                    <div class="col-lg-4 price priceO">
                        <h5>Stawka za nadgodziny</h5>
                        <input type="number" name="pay_overtime" v-model="pay_overtime"> zł
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button v-on:click.prevent="addUser" class="btn-gray addUserBtn">DODAJ PRACOWNIKA</button>
            </div>
        </form>
    </div>
        <form-error v-if="errors.length != 0" :errors="errors"></form-error>

    </div>
</template>
<script>
    import FormError from '../modals/formError.vue';

    export default{
        components: {
            FormError,
        },
        data() {

            return this.$root.$refs.sidebaradmin.$refs.users.$data;
        },
        methods:{
            photoChange: function(e){
                this.photo=e.target.files[0];
            },

            addUser: function (e) {
                let form = new FormData();
                form.append('nickname',this.nickname);
                form.append('password',this.password);
                form.append('first_name',this.first_name);
                form.append('second_name',this.second_name);
                form.append('type',this.type);
                form.append('stand',this.stand);
                form.append('pay_standard',this.pay_standard);
                form.append('pay_overtime',this.pay_overtime);
                form.append('photo',this.photo);
                var vm = this; // Keep reference to viewmodel object
                this.$http.post(window.location.origin +'/admin/user/add', form).then(function (data, status, request) {
                    $('#add-user-modal').hide();
                    this.user.push(data.body.user);
                    this.submitted = true;
                    this.errors = '';
                }, function (response) {
                    this.errors = response.data.errors;
                });

            },

        },
        mounted(){
        }
    }

</script>