<template>
<div>
    <headbar></headbar>
    <adminsidebar ref="sidebaradmin"></adminsidebar>
    <calendar ref="cal"></calendar>
    <addtask></addtask>
    <adminAddHours></adminAddHours>
    <adduser></adduser>

    <admindeadline></admindeadline>
    <useraddhours></useraddhours>
    <usersubtask></usersubtask>
</div>
</template>

    <script>
    export default{
        methods:{
        },
        mounted(){
        }
    }

</script>