<template>
    <div id="deadline-alert-modal" class="modals" role="">
        <!-- Modal content-->
        <div class="content">
            <div class="img-alert">
                <div class="alert"><img src="{{ asset('img/icon_alert.png')}}" alt=""></div>
            </div>
            <div class="user-name">
                Imię nazwisko
            </div>
            <div class="user-position">
                stanowisko
            </div>
            <div class="answer">
                chce przesunąc deadline
            </div>
            <div class="task-name">
                Nazwa taska
            </div>
            <div class="client">
                Nazwa klienta
            </div>
            <div class="buttons">
                <button class="btn-no"></button>
            </div>
        </div>

    </div>
</template>
<script>

</script>