<template>
    <div id="settings" class="modals" role="">
        <div class="header-full">
            <div class="wrapp">
                <div class="title">
                    Ustawienia
                </div>
            </div>
            <div class="buttons">
                <button class="btn-no"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <b>Godziny pracy:</b> <br>
                <label for="startHours">Start</label>
                <select id="startHours" v-model="businessHours.globalStart">
                    <option :value="businessHours.globalStart"> {{ businessHours.globalStart }}</option>
                    <option v-for="option in options"
                            v-bind:value="option.value">{{ option.value }}
                    </option>
                </select>
                <label for="endHours">Koniec</label>
                <select id="endHours" v-model="businessHours.globalEnd">
                    <option :value="businessHours.globalEnd"> {{ businessHours.globalEnd }}</option>
                    <option v-for="option in options"
                            v-bind:value="option.value">{{ option.value }}
                    </option>
                </select>

                <div class="save">
                    <div class="loadingspin" v-show="saving">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="loadingspin" v-show="save">
                        <i class="fas fa-check"></i>
                    </div>
                    <button class="btn-gray saveOptions right"
                            @click="saveOptions">ZAPISZ
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    let data = {
        loading: false,
        saving: false,
        save: false,
        options: [
            {value: '09:00'},
            {value: '09:30'},
            {value: '10:00'},
            {value: '10:30'},
            {value: '11:00'},
            {value: '11:30'},
            {value: '12:00'},
            {value: '12:30'},
            {value: '13:00'},
            {value: '13:30'},
            {value: '14:00'},
            {value: '14:30'},
            {value: '15:00'},
            {value: '15:30'},
            {value: '16:00'},
            {value: '16:30'},
            {value: '17:00'},
            {value: '17:30'},
            {value: '18:00'},
            {value: '18:30'},
            {value: '19:00'},
        ]
    };
    export default {
        props: ['businessHours'],
        data() {
            return data;
        },
        methods:{
            saveOptions: function() {
                console.log(this.businessHours.globalStart);
                this.$http.post(window.location.origin + '/admin/options/hours/update', {
                    globalStart: this.businessHours.globalStart,
                    globalEnd:this.businessHours.globalEnd
                }).then(function (data, status, request) {
                    alert('ok');
                });
            },
        }
    }
</script>