<template>

<aside>
    <div class="aside-wrap">
        <sidetask ref="sidetask"></sidetask>
        <button id="add_task">DODAJ NOWY TASK</button>
        <users ref="users"></users>
        <button id="add_user">DODAJ NOWEGO<br> PRACOWNIKA</button>
    </div>
</aside>
</template>

    <script>
    export default{
        methods:{
        },
        mounted(){
        }
    }

</script>