#add-user-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  //width: 42%;
  //height: 46%;
  width: 830px;
  height: 428px;
  padding: 20px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;

  .photo {
    label {
      width: 100%;
      overflow: hidden;
    }
    .attach {
      padding-top: 5px;
      width: 65px;
    }

  }
  #photo-input{
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .kind {
    padding-bottom: 15px;
    padding-top: 5px;
    .text {
      display: inline;
    }
    input {
      border: 1px solid #000;
      padding: 0.6em;
      -webkit-appearance: none;
      margin: -6px 0;
      margin-left: 10px;
    }
    input:checked {
      border: 3px solid black;
      background-color: #a0262c;
    }
    input:focus {
      outline: none;
    }
  }
  input {
    background-color: #959595;
    border: 1px solid #fff;
    margin-bottom: 15px;
  }
  label {
    width: 110px;
    font-size: 20px;
  }
  form > .buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;

  }
  input[type='number'] {
    width: 70px;
    text-align: right;
  }
  .surname {
    margin-bottom: 25px;
  }
  .prices {
    margin-left: 20px;
    width: 100%;
    padding-top: 20px;
    .price {
      float: left;
    }
    h5 {
      margin-bottom: 15px;
    }

  }

}
#add-task-modal,
#add-user-modal {
  input {
    color: #fff;
  }
  input[type='text'],
  input[type='password'] {
    padding-left: 10px;
  }
  .header {
    height: 50px;
    background-color: #555555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
    .image {
      float: left;
      display: flex;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .title {
      display: flex;
      float: left;
      padding-left: 10px;
      font-size: 24px;
    }
    .buttons {
      display: flex;
      float: right;
      margin-left: auto;
      button {
        height: 30px;
        width: 30px;
        background: transparent;
        border: none;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        z-index: 1000000;
        &.btn-no {
          background: url('../images/icon_close.svg');
        }
      }
    }
  }
}

.hide {
  margin-left: auto;
  button {
    &.hide {
      background: url("../images/icon_arrow1_right.svg");
      background-repeat: no-repeat;
      background-position: right;
      padding-right: 25px;
      background-size: 20px;
      border: none;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.photo {
  label {
    cursor: pointer;
    display: flex;
    width: 100%;
    align-items: center;
  }
  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  .attach {
    padding-top: 5px;
    width: 65px;

  }
}
.header-hide {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
  margin-right: 15px;
  border-bottom: 3px solid #b7b7b7;
  .image {
    width: 25px;
    float: left;
    margin-right: 10px;
  }
  .text {
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (max-width: 1800px) {

#add-user-modal .surname {
  margin-bottom: 0;
}
  #add-user-modal input {
    background-color: #959595;
    border: 1px solid #fff;
    margin-bottom: 5px;
  }
  #add-user-modal{
    //width: 50%;
    //height: 70%;
    top: 15%;
  }
  #add-user-modal .prices h5{
    //font-size: 15px;
  }
}