#add-task-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  //width: 40%;
  //height: 46%;
  width: 800px;
  height: 410px;
  padding: 20px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  label {
    font-size: 20px;
    width: 17%;
  }
  input {
    background-color: #959595;
    border: 1px solid #fff;
  }
  input[type='text'] {
    width: 81%;
  }
  .task-title {
    margin-bottom: 10px;
  }
  .client-name {
    margin-bottom: 30px;
  }
  .estimated-time {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    h6 {
      font-size: 20px;
    }
    .selection {
      border-radius: 0 !important;
      background-color: #959595;
    }
  }
  form > .buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;

  }
  .select2 {
    width: 55px;
    text-align: right;
  }
  .select2-container--default .select2-selection--single {
    background-color: #959595;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
  }
  .selects {
    float: left;
    margin-right: 25px;
  }
  .deadline-set {
    input {
      width: 200px;
      color: #fff;
    }
    label {
      width: 10%;
    }
    .date-input {
      background: url("../images/icon_calendar_month.svg") no-repeat scroll 169px 4.5px;
      padding-left: 20px;
      background-size: 12%;
    }
    .time-input {
      background: url("../images/icon_clock.svg") no-repeat scroll 169px 4.5px;
      padding-left: 20px;
      background-size: 12%;
    }
    h6 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1800px) {

  #add-task-modal label {
    font-size: 16px;
  }
  #add-task-modal input[type='text'] {
    width: 77%;
  }
  #add-task-modal label {
    width: 20%;
  }
  #add-task-modal .client-name {
    margin-bottom: 6px;
  }
  #add-task-modal .estimated-time {
    margin-bottom: 20px;
  }
  #add-task-modal{
    height: 52%;
  }
}

@media screen and (min-width: 2000px) {
  #add-task-modal{
    width: 800px;
    height: 410px;
  }
}

@media screen and (max-width: 1400px) {
  #add-task-modal{
    width: 800px;
    height: 410px;
  }
}

