section.calendar-wrap {
  float: left;
  width: 85%;
  position: relative;
}
.errors{
  width: 35%;
  bottom: inherit;
  position: fixed;
  z-index: 10000;
}
.fc-unthemed .fc-divider{
  display: none !important;
}
#calendar {
  width: 100%;
  height: 795px;
  .deadline {
    padding-left: 11px;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
  }
  .fc-nonbusiness {
    //background: $task-bh-bg;
    background: #2f2f2f;
  }
  .fc-time-grid .fc-slats .fc-minor td {
    //border: 1px solid #323232;
  }
  .fc-widget-content {

  }
  .fc-time-grid .fc-slats td {
    height: 2.2em;
    border-color: $task-border;

  }

}

.fc-day-header {
  background-color: $task-day-bg;
  height: 20px !important;
  span {
    line-height: 38px;
  }
}

.fc-ltr .fc-axis {
  background-color: $task-day-bg;
  padding-left: 20px;
  padding-right: 7px;

}

.fc-unthemed {
  .fc-content,
  .fc-divider,
  .fc-list-heading td,
  .fc-list-view, .fc-unthemed .fc-popover,
  .fc-row, .fc-unthemed tbody,
  td,
  th,
  thead {
    border-color: $task-border;

  }

}

//.fc-scroller {
//  overflow-y: hidden !important;
//}
.fc-today {
  background-color: $task-bg !important;
}

.fc-title {
  font-size: 16px;
}

.fc-time span {
  font-size: 14px;
}

.fc-event {
  margin-top: 2px;
  margin-bottom: 2px;
}

.fc-event .fc-bg {
  background: transparent;
}

.fc-content {
  padding: 10px 10px 0 10px;
}

.task-client {
  padding-left: 11px;
  padding-top: 3px;
  font-size: 14px;
}

.play-bg {
  background-image: url('../images/icon_stop_bg.svg');
  right: 10px;
  top: 5px;
}

.stop-bg {
  background-image: url('../images/icon_play_bg.svg');
  right: 10px;
  top: 5px;
}

.pause-bg {
  background-image: url('../images/icon_pause.svg');
  right: 10px;
  top: 5px;
}

.clock-overtime-bg {
  background-image: url('../images/icon_clock_overtime.png');
  bottom: 5px;
  right: 15px;
}

.clock-less-bg {
  background-image: url('../images/icon_clock_less.svg');
  top: 5px;
  right: 43px;
}

.clock-more-bg {
  background-image: url('../images/icon_clock_more.svg');
  top: 5px;
  right: 43px;
}

.clock-ok-bg {
  background-image: url('../images/icon_clock_ok.svg');
  top: 5px;
  right: 43px;
}

.divided-bg {
  background-image: url('../images/icon_task_resumed.svg');
  right: 15px;
  bottom: 10px;
}

.resumed-bg {
  background-image: url('../images/icon_task_divided.svg');
  right: 15px;
  bottom: 10px;
}

.btn-bg {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;

}

//.hide {
//  display: none;
//}
//
//.show {
//  display: block;
//}

@media screen and (min-width: 2000px) {
  #calendar {
    width: 100%;
    height: 1130px;
    .fc-time-grid .fc-slats td {
      height: 3.2em;
    }
  }
}

@media screen and (max-width: 1400px) {
  .btn-bg {
    right: 3px;
    bottom: 5px;
    width: 22px;
    height: 22px !important;
  }
  .btn-1400,
  .deadline-1400 {
    display: none !important;
  }
  .fc-content {
    padding: 3px 10px 0 10px;
  }
  .fc-title {
    font-size: 12px;
  }
  .task-client {
    font-size: 11px;
  }
  #calendar .deadline {
    font-size: 10px;
  }
  #calendar {
    height: 550px;
    .fc-time-grid .fc-slats td {
      height: 10px;
    }
    .fc-day-header span {
      line-height: 20px;
      font-size: 13px;
    }
  }
  .fc-agenda-slots td div {
    height: 40px !important;
  }
  .block-bottom {
    //bottom: 25px;
  }
}

@media screen and (max-width: 1000px){
  section.calendar-wrap {
    width: 100%;
  }
  }