footer{
  float: left;
  width: 85%;
  font-size: 20px;
  .progress{
    background: #494949;
  }
  .progress-bar-wrap {
    margin: 10px;
    padding-right:40px;
  }
  .progress-bar{
    height: 10px;
    background-image:
            -webkit-linear-gradient(-90deg,
                    transparent 33%, rgba(0, 0, 0, .1) 33%,
                    rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top,
                    rgba(255, 255, 255, .25),
                    rgba(0, 0, 0, .25)),
            -webkit-linear-gradient(left, #0c6b00, #9c0202);

    border-radius: 5px;
  }
  .title{
    padding-top: 10px;
    padding-left: 30px;
  }
  .buttons{
    text-align: center;
    button{
      height:50px;
      width: 50px;
      background: transparent;
      border:none;
      vertical-align: -webkit-baseline-middle;
      margin:0 15px;
    }
    .stop{
      height:40px;
      width: 40px;
      background-image: url("../images/icon_stop.svg");
    }
    .start{
      background-image: url(" ../images/icon_play.svg");

    }
    .pause{
      background-image: url('../images/icon_pause.svg');
      height:40px;
      width: 40px;
    }
  }
  .time{
    padding-top: 10px;
    text-align: right;
    padding-right: 50px;
  }
}
.resolution-alert{
  display: none;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  background-color: red;
}
@media screen and (max-width: 1400px){
  footer {
    .title{
      padding-top: 0;
      font-size: 16px;
    }
    .time{
      padding-top: 0;
      font-size: 16px;
    }
    .progress-bar{
      height:0.4rem;
    }
    .progress-bar-wrap{
      margin: 5px;
    }
    .buttons{
      text-align: center;
      button{
        height:25px;
        width: 25px;
        margin:0 15px 13px 15px;
        background-repeat: no-repeat;
      }
      .stop{
        height:20px;
        width: 20px;
      }
      .start{

      }
      .pause{
        height:20px;
        width: 20px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  footer{
    width: 100%;
  }
  footer .buttons button {
    height: 45px;
    width: 45px;
  }
  footer .buttons .stop,
  footer .buttons .pause
  {
    height: 35px;
    width: 35px;
  }
  .resolution-alert{
    display: block;
  }
}