@import "vars";
@import 'header';
@import 'calendar';
@import 'sidebar';
@import 'footer';
@import 'modals';
@import 'add-task';
@import 'add-user';
@import 'task';
@import 'profile';
@import 'search';
@import 'settings';

body {
  background-color: $body-bg;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

#app {
  overflow-x: hidden;
}
#loader{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  border-radius: 5px;
  img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 38%;
  }
}
button {
  cursor: pointer;
}
.fileHidden{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.loadingspin{
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
button:focus {
  outline: none;
}

.select2-container {
  color: #000;
}

.btn-light-gray {
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}
[v-cloak] {
  display: none;
}
.btn-gray {
  background-color: #555555;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 7px 13px;
  margin: 5px 0;
  font-weight: 500;
  font-size: 20px;
}
.header-full {
  background-color: #036114;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  margin-bottom: 7px;

  .image {
    float: left;
    display: flex;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .title {
    display: flex;
    float: left;
    padding-left: 10px;
    font-size: 24px;
  }
  .buttons {
    display: flex;
    float: right;
    margin-left: auto;
    button {
      height: 30px;
      width: 30px;
      background: transparent;
      border: none;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      z-index: 1000000;
      &.btn-no {
        background: url('../images/icon_close.svg');
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
a,
a:focus,
a:hover,
a:visited
{
  color:inherit;
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  body {
    margin-top: 4px;
  }
  .header-full {
    height: 40px;
  }
  .btn-gray{
    font-size:0.9vw;
  }
}

@media screen and (max-width: 1000px) {
  #add-task-modal,
  #profile-view,
  #task-view,
  .task-client,
  .deadline,
  .btn-bg
  {
    display: none !important;
  }
  .fc-time-grid-event.fc-short .fc-content,
  .fc-event .fc-content{
    padding: 3px;
  }
}














