header {
  float: left;
  width: 100%;
  //height:7.5vh;
  .logo {
    width: 15%;
    float: left;
    padding-left: 20px;
  }
  p {
    margin-bottom: 0;
  }

  form {
    float: left;
  }

  button {
    margin-bottom: 17px;

    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    color: #fff;
    margin-right: 20px;
    width: 140px;
    height: 60px;
    float: left;
    line-height: 20px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .icon {
    width: 30px;
    float: left;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text {
    width: 80px;
    float: left;
    text-align: left;
    padding-left: 15px;
  }

  .form_search {
    float: right;
    padding-right: 50px;
    input{
      height: 35px;
      color: #fff;
      padding-left: 10px;
    }
  }

  .search {
    background: url("../images/icon_search.svg") no-repeat scroll 180px 4.5px;
    background-size: 9%;
    border-radius: 5px;
  }
  .buttons {
    width: 85%;
    float: left;
  }
  .btn_options {
    width: 60px;
    padding: 1px;
    float: right;
    img {
      width: 50px;
      height: 50px;
    }
    &.profile img{
      width: 100%;
      height: 100%;
    }
  }
}


@media screen and (max-width: 1400px) {
  header {
    .logo{
      img {
        height: 40px;
        margin-left: 20px;
      }
    }
    .icon{
      width: 18px;
    }
    p{
      font-size: 11px;
    }
    button {
      padding: 2px 7px;
      font-size: 12px;
      width: 110px;
      height: 35px;
      margin-bottom: 5px;
      img {
        width: 20px;
        height: 20px;
      }
    }
    .text {
      width: 75px;
      line-height: 15px;
      font-size: 12px;
    }

    .form_search {
      font-size: 13px;
      input{
        height: 20px;
      }
    }

    .search {
      background: url("../images/icon_search.svg") no-repeat scroll 160px 2.5px;
      background-size: 7%;
    }
    .btn_options {
      width: 40px;
      padding: 1px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header .form_search{
    display: none;
  }
  header .logo {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 10px;
  }
  header .buttons {
    width: 100%;
  }
  header button{
    margin: 5px;
  }
}