//body {
//  background-color: #363636;
//  color: #fff;
//  font-family: 'Roboto', sans-serif;
//  margin-top: 20px;
//}
//.logo{
//  width:20%;
//  float: left;
//  padding-left:20px;
//}
//.buttons{
//  width: 80%;
//  float: left;
//  .icons{
//
//  }
//  .text{
//
//  }
//}
//aside {
//  float: left;
//  width: 20%;
//}
//
//section {
//  float: left;
//  width:80%;
//}
//
//header {
//  p{
//    margin-bottom: 0;
//  }
//  form{
//    float: left;
//  }
//  button {
//    background: transparent;
//    -webkit-border-radius:5px;
//    -moz-border-radius:5px;
//    border-radius:5px;
//    border:1px solid white;
//    padding:10px;
//    color: #fff;
//    margin-right:20px;
//    width: 140px;
//    height: 65px;
//    float: left;
//    img {
//      width: 30px;
//      height: 30px;
//    }
//  }
//
//  .icon{
//    width: 30px;
//    float: left;
//    height: 100%;
//    display: flex;
//    align-items: center;
//  }
//  .text{
//    width: 80px;
//    float: left;
//    text-align: left;
//    padding-left: 15px;
//
//  }
//  .form_search{
//    float: right;
//    padding-right:50px;
//  }
//  .search{
//    background: url('http://localhost:3000/img/icon_search.svg') no-repeat scroll 200px 2px;
//    padding-left:30px;
//    background-size: 9%;
//    border-radius: 5px;
//  }
//}
//
//
//
//aside{
//  button{
//    background-color: #464646;
//    border: none;
//    border-radius: 5px;
//    color:#fff;
//    width: 90%;
//    text-align: left;
//    padding: 5px 10px;
//    margin:10px ;
//  }
//  .icon{
//    float: right;
//    padding: 5px 10px;
//    img{
//      width: 15px;
//    }
//  }
//}