#sub-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 320px;
  height: 320px;
  text-align: center;
  padding-top: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .question {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
  }
  .client {
    font-size: 24px;
  }
  .buttons {
    button {
      height: 70px;
      width: 70px;
      background: transparent;
      border: none;
      background-repeat: no-repeat !important;
      margin: 30px 15px;
      background-size: contain;
      z-index: 1000000;
      &.btn-yes {
        background: url('../images/yes.png');
      }
      &.btn-no {
        background: url('../images/no.png');
      }
    }
  }
}

#add-hours-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 350px;
  height: 275px;
  text-align: center;
  padding-top: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  .question {
  }
  .date {
    line-height: 22px;
    padding-bottom: 20px;

  }
  .to {
  }
  .buttons {
    button {
      height: 70px;
      width: 70px;
      background: transparent;
      border: none;
      background-repeat: no-repeat !important;
      margin: 30px 15px;
      background-size: contain;
      z-index: 1000000;
      &.btn-yes {
        background: url('../images/yes.png');
      }
      &.btn-no {
        background: url('../images/no.png');
      }
    }
  }
}

#add-hours-manager-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  //width: 25%;
  //height: 35%;
  width: 300px;
  height: 370px;
  text-align: center;
  padding-top: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  .question {
    padding-bottom: 15px;
  }
  .user-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
  }
  .user-position {
    padding-bottom: 17px;

  }
  .task-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
  }
  .client {
    font-size: 24px;
  }
  .buttons {
    button {
      height: 70px;
      width: 70px;
      background: transparent;
      border: none;
      background-repeat: no-repeat !important;
      margin: 30px 15px;
      background-size: contain;
      z-index: 1000000;
      &.btn-yes {
        background: url('../images/yes.png');
      }
      &.btn-no {
        background: url('../images/no.png');
      }
    }
  }
}

#deadline-alert-modal {
  display: none;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.65);
  width: 300px;
  height: 300px;
  text-align: center;
  padding-top: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  .answer {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .user-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
  }
  .user-position {
    padding-bottom: 17px;

  }
  .task-name {
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
  }
  .client {
    font-size: 24px;
  }
  .alert {
    img {
      height: 90px;
      width: 80px;
    }
  }
  .buttons {
    button {
      height: 50px;
      width: 50px;
      background: transparent;
      border: none;
      background-repeat: no-repeat !important;
      margin: 20px 15px;
      background-size: contain !important;
      z-index: 1000000;
      &.btn-yes {
        background: url('../images/yes.png');
      }
      &.btn-no {
        background: url('../images/no.png');
      }
    }
  }
}




@media screen and (max-width: 1800px) {

  #add-task-modal .header, #add-user-modal .header {
    margin-bottom: 10px;
  }
  #deadline-alert-modal {
    top: 15%;
    //height: 53%;
  }
  #add-hours-manager-modal {
    //height: 45%;
  }
  #add-hours-modal {
    //height: 35%;
  }
  #sub-modal {
    //height: 37%;
  }
  }