#profile-view {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #363636;
  .edit{
    cursor: pointer;
  }
  > .header {
    background-color: #036114;
    height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 7px;
    h5 {
      font-size: 24px;
      font-weight: 700;
    }
    h6 {
      font-size: 18px;
    }
    .image {
      float: left;
      display: flex;
      img {
        width: 30px;
        height: 30px;
      }
    }

    .title {
      display: flex;
      float: left;
      padding-left: 10px;
      font-size: 24px;
    }
    .buttons {
      display: flex;
      float: right;
      margin-left: auto;
      button {
        height: 30px;
        width: 30px;
        background: transparent;
        border: none;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        z-index: 1000000;
        &.btn-no {
          background: url('../images/icon_close.svg');
        }
      }
    }
  }
  .photo {
    h5 {
      font-size: 20px;
      font-weight: 400;
      padding-top: 5px;
    }
    .add-file:before {
      display: block;
      content: '';
      clear: both;
    }
    .add-file {
      display: block;
      font-size: 14px;
      font-weight: 300;
      position: absolute;
      top: 120px;
      left: 36px;
      overflow: hidden;
      width: 100px;
    }
    img {
      width: 85px;
      height: 85px;
      border: 3px solid white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  input {
    background-color: #959595;
    border: 1px solid #fff;
    width: 100%;
    text-indent: 10px;
  }
  .kind {
    padding-bottom: 15px;
    padding-top: 5px;
    .text {
      display: inline;
    }
    input {
      width: 5px;
      border: 1px solid #fff;
      padding: 0.6em;
      -webkit-appearance: none;
      margin: -6px 0;
      margin-left: 10px;
    }
    input:checked {
      border: 3px solid black;
      background-color: #a0262c;
    }
    input:focus {
      outline: none;
    }
  }

  .creditionals {
    float: left;
    padding: 0 35px 0 15px;
    border-right: 1px solid #363636;
    max-width: 33%;
    margin-top: 12px;

    input {
      position: relative;
    }
    .edit {
      font-weight: 300;
      font-size: 14px;
      position: absolute;
      right: 0;
      bottom: -22px;
    }
    .photo {
      margin-right: 0;
      padding-right: 0;
      padding-left: 15px;
    }
    .save {
      text-align: right;
      float: right;
      button {
        margin-top: 35px;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .personal {
      > div:first-child {
        margin-top: 0;
        position: relative;
      }
      > div {
        margin-top: 20px;
        margin-top: 20px;
        position: relative;
      }
      &.admin{
        margin-top: 20px;

      }
    }
    .prices {
      float: left;
      width: 100%;
      .edit {
        font-weight: 300;
        font-size: 14px;
        position: absolute;
        left: 39px;
        bottom: -22px;
      }
      input {
        margin-top: 10px;
        width: 70px;
        text-align: right;
      }
      .price {
        float: left;
        width: 100%;
        padding: 0;
      }
      .priceO {
        float: right;
      }
    }

  }
  .timetable-wrapp {
    margin-top: 12px;

    float: left;
    max-width: 47%;
    padding: 0 35px;
    .header:after {
      display: block;
      content: '';
      clear: both;
    }
    .header {
      width: 100%;
      .previous {
        float: left;
      }
      .text {
        float: right;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .timetables {
      position: relative;

      .timetable {
        background-color: #d7d7d7;
        margin-top: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        .saveTimetable {
          font-size: 18px;
          padding: 2px 10px;
          margin-bottom: 0;
        }
        .date {
          width: 100%;
          border-bottom: 1px solid #000000;
          font-size: 16px;
          font-weight: 700;
          padding-bottom: 3px;
        }
        .save {
          text-align: right;
        }
        input {
          width: 70%;
        }
        select {
          background-color: #a1a1a1;
          color: #fff;
          border: 1px solid #fff;
          text-align: right;
          //width: 80%;
          //text-indent: 20px;
        }
        .day {
          padding-top: 6px;
        }
      }
    }
    .next {
      float: left;
      width: 100%;
      text-align: right;
    }
    .nextBtn {
      margin-top: 10px;
      background: url("../images/icon_next.svg");
      background-position: 92% 50%;
      background-repeat: no-repeat;
      background-color: #cccccc !important;
      background-size: 13% !important;
      padding: 2px 42px 2px 23px;
    }
    .prevBtn {
      background: url("../images/icon_previous.svg");
      background-position: 5% 50%;
      background-repeat: no-repeat;
      background-color: #cccccc !important;
      background-size: 13% !important;
      padding: 2px 18px 2px 37px;
    }
  }
  .history-wrap {
    float: left;
    max-width: 20%;
    background-color: #cccccc;
    padding-top: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 20px;
    position: relative;
    height: 88%;

    > .header {
      .image {
        width: 25px;
      }
    }
    .item {
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .hours, .overTime {
      font-weight: 700;
    }
    .history-log-stat {
      float: left;
      margin-top: 7px;
    }
    .actual {
      border-top: 2px solid #b7b7b7;
      padding-top: 10px;
      position: absolute;
      bottom: 20px;
      h2 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1px;
        margin-top: 7px;
      }
      .time {
        font-size: 32px;
        font-weight: 700;
        border: 1px solid #fff;
        text-align: center;
        padding: 5px 23px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        float: left;
        height: 60px;
        margin-right: 10px;
      }
      .reset {
        float: right;
        .resetTimeHistory {
          background: transparent;
          background: url("../images/icon_reset.svg");
          background-repeat: no-repeat;
          background-color: #a0262c;
          background-size: 45%;
          background-position: 50% 20%;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 7px;
          font-size: 11px;
          font-weight: 700;
          text-align: left;
          padding: 40px 8px 5px 8px;
          color: #fff;
          border: none;
        }
      }
    }

  }
}

@media screen and (max-width: 1650px) {
  #profile-view .timetable-wrapp .timetables .timetable {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .timetables .timetable select {
    text-indent: 0;
    width: 70%;
  }
  #profile-view .timetable-wrapp .timetables .timetable .saveTimetable {
    font-size: 12px;
    padding: 1px 10px;
    margin-bottom: 2px;
  }
  #profile-view .timetable-wrapp .timetables .timetable .date {
    padding-bottom: 1px;
  }
}

@media screen and (max-width: 1400px) {
  // Profile
  .timetable-box{
    padding: 1px;
  }
  #add-task-modal .header .title, #add-user-modal .header .title {
    font-size: 18px;
  }
  #profile-view > .header h5 {
    font-size: 0.9vw;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: 7px;
  }
  #profile-view > .header h6 {
    font-size: 0.8vw;
  }
  #profile-view > .header {
    height: 37px;
    margin-bottom: 5px;
  }
  #profile-view .photo img {
    width: 60px;
    height: 60px;
  }
  #profile-view .photo .add-file {
    font-size: 9px;
    top: 97px;
  }
  #profile-view .photo h5{
    font-size: 15px;
  }
  #profile-view .creditionals .personal > div {
    margin-top: 5px;
  }
  .personal {
    label {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  #profile-view {
    font-size: 14px;
  }
  #profile-view input {
    height: 25px;
  }
  .text {
    font-size: 14px;
  }
  .btn-gray {
    font-size: 14px;
  }

  #profile-view .creditionals .save button {
    font-size: 12px;
  }

  .prices {
    font-size: 14px;
    padding-top: 15px;
  }
  #profile-view .creditionals .prices .edit {
    font-size: 12px;
    bottom: -18px;
  }
  #profile-view .creditionals .edit {
    font-size: 12px;
    bottom: -18px;
  }
  #profile-view .creditionals .prices input {
    margin-top: 0px;
  }
  aside .users .user{
    min-height: 55px;
  }
  #profile-view .kind input {
    height: 15px;
  }
  #profile-view .kind {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .days .day .col-lg-5 {
    padding-right: 5px;
    padding-left: 7px;
  }
  .calendar-wrap .btn-light-gray {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .header .text {
    font-size: 16px;
  }
  #profile-view .timetable-wrapp .timetables .timetable {
    margin-top: 4px;
    padding: 2px 10px;
  }
  #profile-view .timetable-wrapp .timetables .timetable .date {
    font-size: 12px;
  }
  #profile-view .timetable-wrapp .nextBtn {
    margin-top: 4px;
  }
  .header-hide .text {
    font-size: 0.8vw;
    font-weight: 700;
  }
  #profile-view .history-wrap > .header .image {
    width: 17px;
    margin-right: 4px;
  }
  .hide button.hide {
    font-size: 10px;
  }
  #profile-view .history-wrap .item {
    font-size: 0.9vw;
  }
  #profile-view .history-wrap {
    padding: 2px 8px 10px 8px;
  }
  #profile-view .history-wrap .actual h4 {
    font-size: 14px;
  }

  #profile-view .history-wrap .actual h2 {
    font-size: 16px;
  }
  #profile-view .history-wrap .actual .time {
    font-size: 22px;
    padding: 5px 19px;
    height: 40px;
  }

  #profile-view .history-wrap .actual .reset .resetTimeHistory {
    background-size: 37%;
    font-size: 8px;
    padding: 23px 4px 5px 5px;
  }

    #profile-view .creditionals {
      margin-top: 0;
    }

    #profile-view .timetable-wrapp {
      margin-top: 0;
    }
    //  Profile end
  }

@media screen and (max-width: 1200px) {
  header .form_search{
    padding-right: 10px;
  }

  #profile-view .timetable-wrapp .timetables .timetable select{
    font-size: 10px;
  }
  #profile-view .timetable-wrapp .timetables .timetable {
    margin-top: 2px;
    padding: 1px 10px;
  }
  #profile-view .timetable-wrapp {
    height: 479px;
    overflow: scroll;
  }
  #profile-view .creditionals .photo{
    padding-left: 0;
  }
  #profile-view .photo .add-file{
    left: 0;
  }
}