#search {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  .items{
    overflow: scroll;
    height: 87%;
  }
  .item{
    background-color: #636363;
    padding: 10px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 110px;
  }
}

@media screen and (max-width: 1800px) {



}