aside {
  float: left;
  width: 14.8%;
  margin-right: 0.2%;
  background-color: $aside-bg;
  min-height: 900px;
  margin-top: 1px;
  overflow: hidden;
  //height:91.4vh;
  height:93vh;
  @-moz-document url-prefix() {
    .aside-wrap{
      margin-right: -10px;
    }
  }
  //.collapse.in{
  //  display: block;
  //}
  .aside-wrap{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  button {
    background: url('../images/icon_arrow2_down.svg') no-repeat right;
    background-size: 10%;
    background-color: $btn-sidebar;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 96%;
    text-align: left;
    padding: 10px;
    margin: 10px 5px;
    font-weight: 700;
    background-position-x: 95%;
    .text{
      width: 80%;
      float: left;
      line-height: 34px;
      font-weight: 700;
    }
    &#add_user{
      background: url('../images/icon_plus.svg') no-repeat right;
      background-size: 13%;
      padding: 5px 10px;
      background-color: $red-sb;
      background-position-x: 95%;
      .text{
        line-height: 20px;
      }
      .icon img {
        width: 30px;
      }
    }
    &#add_task {
      background: url('../images/icon_plus.svg') no-repeat right;
      background-size: 13%;
      background-color: $green-sb;
      background-position-x: 95%;
      .icon img {
        width: 30px;
      }
      .text {
        line-height: 40px;
      }
    }
    .icon {
      float: right;
      padding: 5px 10px;
      width: 20%;
      img {
        width: 25px;
      }
    }
  }
  .items{
    margin:0 20px 0 5px;
    .item {
      margin-bottom: 5px;
      background-color: $item-sb;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px 15px;
      font-size: 14px;
      cursor:pointer;
      float: left;
      width: 100%;
      .title{
        font-size: 16px;
        float: left;
        width: 60%;
      }
      .user-name{
        float: left;
        padding-bottom:10px;
        width: 100%;
      }
      .deadline-sb{
        float: left;
        width: 60%;
        display: inline;

      }
      .time2{
        float: right;
      }
    }
  }
  .users{
    margin:0 20px 0 5px;
    .user {
      margin-bottom: 5px;
      background-color: $item-sb;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px;
      font-size: 14px;
      cursor: pointer;
      min-height: 65px;
    }
    .image {
      float: left;
      width: 45px;
      margin-right:15px;
      img{
        width: 45px;
        height: 45px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border:1px solid #fff;
      }
    }
    .name {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 2000px) {
  aside button#add_user,
  aside button#add_task
  {
    background-size:11%;
  }
  aside{
    min-height: 1209px;
  }
}
@media screen and (max-width: 1400px) {
  .clock-overtime-bg{
    bottom: 25px;
  }
  aside {
    min-height: 654px;
    button{
      margin: 4.7px 5px;
      font-size: 14px;
      background-size: 12% !important;
      padding:5px 10px;
      &#add_user{
        padding: 4px 10px;
        line-height: 16px;
      }
    }
    .items{
      margin: 0 10px 0 5px;
      .item{
        padding: 3px 10px;
        font-size: 12px;
        .title{
          font-size: 14px;
        }
        .user-name{
          padding-bottom: 4px;
        }
      }
    }
    .users{
      margin: 0 10px 0 5px;
      .user {
        padding: 5px;
        font-size: 12px;
      }
      .name{
        font-size: 14px;
      }
      .image{
        width: 37px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  aside{
    display: none;
  }
}