.custom-bh {
  .task-client {
    display: none;
  }
  .deadline {
    display: none;
  }
}

.custom-bh {
  background-color: #2f2f2f;
}

#task_history {
  height: 100%;
}

#task-view {
  display: none;
  z-index: 1000000000;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #acacac;
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #000;
  input {
    color: #fff;
  }
  #task_attach{
    height: 100%;
  }
  input[type='text'],
  input[type='password'] {
    padding-left: 10px;
  }
  .area-full {
    width: 100%;
  }
  & > .header {
    background-color: #036114;
    height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;

    h5 {
      padding-top: 10px;
      font-size: 24px;
      font-weight: 700;
      line-height: 20px;
    }
    h6 {
      font-size: 18px;
    }
    .image {
      float: left;
      display: flex;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .title {
      display: flex;
      float: left;
      padding-left: 10px;
      font-size: 24px;
    }
    .buttons {
      display: flex;
      float: right;
      margin-left: auto;
      button {
        height: 30px;
        width: 30px;
        background: transparent;
        border: none;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        z-index: 1000000;
        &.btn-no {
          background: url('../images/icon_close.svg');
        }
      }
    }
  }
  .notes-time {
    float: left;
    width: 61%;
    padding: 0 2.5px;
    height: 97%;
    position: relative;
    .delete-task {
      position: absolute;
      right: 15px;
      top: 0;
    }
    .task-delete {
      border: 1px solid rgba(250, 0, 0, 0.73);
      background: transparent;
      color: rgba(250, 0, 0, 0.73);
    }
    > .header {
      padding-bottom: 10px;
      padding-left: 5px;
      font-size: 18px;
    }
    .notes-wrap {
      background-color: #cccccc;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      //height: 89%;
      height: 605px;
      > .header {
        display: flex;
        align-items: baseline;
        padding-top: 5px;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 3px solid #b7b7b7;
        .image {
          width: 25px;
          float: left;
          margin-right: 10px;
        }
        .text {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .notes {
        padding-left: 15px;
        padding-bottom: 20px;
        overflow: scroll;
        height: 87%;
        .note {
          position: relative;
          .delete-note-wrapp {
            position: absolute;
            right: 20px;
            top: 0;
          }
          .note-delete {
            background: none;
            border: none;
            font-size: 0.9vw;
            color: #ff000091;
          }
          .header {
            font-size: 16px;
            margin-top: 10px;
          }
          .body {
            border: 1px solid #959595;
            margin-right: 20px;
            padding: 10px;
            font-size: 14px;
            background-color: #e1e1e1;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .attachments-wrapp {
    float: left;
    width: 19%;
    background-color: #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 2.5px;
    padding: 10px;
    //height: 92%;
    height: 694px;
    //overflow: scroll;
    > .header {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      margin-right: 15px;
      border-bottom: 3px solid #b7b7b7;
      .image {
        width: 25px;
        float: left;
        margin-right: 10px;
      }
      .text {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .add {
      float: left;
      padding-top: 20px;
      button {
        background-color: #636363;
        border: none;
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .attachments {
      font-size: 16px;
      line-height: 20px;
      float: left;
      height: 91%;
      overflow: scroll;
      .attachment {
        margin-top: 10px;
        padding-bottom: 10px;
        float: left;
        border-bottom: 1px solid gray;
        .title {
          width: 100%;
          float: left;
        }
        .file {
          width: 60%;
          float: left;
          overflow: hidden;
          button {
            width: 150px;
            height: 60px;
            background-color: #707070;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: none;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            margin-top: 5px;
          }
          img {
            width: 150px;
            height: 100px;

          }
        }
        .buttons {
          width: 40%;
          float: left;
          button,a {
            background-color: transparent;
            border: none;
            color: #000;
            font-size: 14px;
            padding-left: 30px;
            margin: 5px 0;
          }
          a{
            padding: 3px 0 3px 30px;
          }
          .delete {
            background: url("../images/icon_delate.svg");
            background-repeat: no-repeat;
          }
          .download {
            background: url("../images/icon_download.svg");
            background-repeat: no-repeat;
          }

        }
      }

    }
  }
  .history {
    float: left;
    width: 19%;
    background-color: #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 2.5px;
    font-size: 16px;
    padding: 10px;
    //height: 92%;
    height: 694px;
    > .header {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      margin-right: 15px;
      border-bottom: 3px solid #b7b7b7;
      .image {
        width: 25px;
        float: left;
        margin-right: 10px;
      }
      .text {
        font-size: 18px;
        font-weight: 700;
      }
    }
    .logs {
      overflow: scroll;
      height: 92%;
      .log {
        padding-top: 10px;
        line-height: 20px;
      }
    }
  }

}

.add_attachment {
  background-color: #636363;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.9vw;
  cursor: pointer;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.add_note {
  padding-top: 15px;
  textarea {
    background-color: #e1e1e1;
    font-size: 0.9vw;
    color: #000;
    text-indent: 5px;
    border: 1px solid white;
  }
}


@media screen and (max-width: 1400px) {
  //  Task
  #task-view .notes-time .delete-task {
    font-size: 12px;
    top: -5px;
  }
  #task-view .history{
      margin: 1px;
  }
  #task-view .attachments-wrapp {
    height: 88%;
    margin: 1px;
  }

  #task-view .history {
    height: 88%;
  }
  #task-view > .header {
    font-size: 0.9vw;
  }
  #task-view > .header {
    height: 40px;
  }
  #task-view > .header h6 {
    font-size: 0.8vw;
  }
  #task-view > .header h5 {
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 0.9vw;
  }
  #task-view .history {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp .attachments {
    font-size: 0.9vw;
  }
  #task-view .notes-time > .header {
    padding-bottom: 1px;
    font-size: 0.9vw;
  }
  #task-view .notes-time .notes-wrap > .header .text {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp > .header .text {
    font-size: 0.9vw;
  }
  #task-view .history > .header .text {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp,
  #task-view .history {
    padding: 5px 10px 5px 10px;
  }
  #task-view .attachments-wrapp .attachments .attachment .file img {
    width: 120px;
    height: 80px;
  }
  #task-view .attachments-wrapp .attachments .attachment .file button {
    width: 70px;
    height: 30px;
    font-size: 0.9vw;

  }
  #task-view .attachments-wrapp .add button {
    font-size: 0.9vw;
  }

  #task-view .attachments-wrapp .attachments .attachment .file {
    width: 53%;
  }
  #task-view .attachments-wrapp .attachments .attachment .buttons button {
    font-size: 0.9vw;
    padding-left: 37px;
    line-height: 15px;
  }
  #task-view .notes-time .notes-wrap .notes .note .body {
    font-size: 0.9vw;
  }
  #task-view .attachments-wrapp > .header,
  #task-view .notes-time .notes-wrap > .header,
  #task-view .history > .header {
    padding-bottom: 5px;
    font-size: 14px;
  }
  #task-view .notes-time .notes-wrap .notes .note .header {
    font-size: 0.9vw;
  }
  #task-view .notes-time .notes-wrap {
    height: 83.7%;
  }

  //  Task end

}

@media screen and (max-width: 1300px) {
  aside button {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .deadline {
    display: none !important;
  }
  .task-client {
    font-size: 9px;
  }
  aside button {
    font-size: 11px;
  }
}