$body-bg: #363636;

$btn-sidebar: #464646;

$task-bg: #363636;
$task-bh-bg: #6f6f6f;
$task-border: #323232;
$task-day-bg: #636363;

$aside-bg: #acacac;

$items-sb: #636363;
$green-sb: #00723a;
$red-sb: #a0262c;
$item-sb: #636363;

$red-task: #a30403;
