<template>
    <span class="help-block">
          <div class="alert alert-danger errors">
            <div v-for="(key,item) in errors">
                {{ key[0] }}
            </div>
        </div>
        <slot></slot>
    </span>
</template>

<script>
    export default {
        props: ['errors'],
    }
</script>