<template>
    <div id="add-hours-modal" class="modals" role="">
        <!-- Modal content-->
        <div class="content">
            <div class="question">
                Czy zgadzasz się zostać w pracy?
            </div>
            <div class="date">
                15/10/2017
            </div>
            <div class="to">
                do godziny 19:30?
            </div>
            <div class="buttons">
                <button class="btn-yes"></button>
                <button class="btn-no"></button>
            </div>
        </div>

    </div>
</template>
<script>

</script>