<template>
    <div id="sub-modal" class="modals" role="">
        <!-- Modal content-->
        <div class="content">
            <div class="question">
                Czy zgadzasz się na podzielenie zadania?
            </div>
            <div class="title">
                Nazwa taska
            </div>
            <div class="client">
                Nazwa klienta
            </div>
            <div class="buttons">
                <button class="btn-yes"></button>
                <button class="btn-no"></button>
            </div>
        </div>

    </div>
</template>
<script>

</script>