<template>
    <div class="col-lg-4 creditionals">
        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-9 personal">
                    <div class="name">
                        <label for="first_name">Imię</label> <br>
                        <input type="text" name="first_name" disabled="disabled" v-model="user.first_name" >
                        <div class="edit">Edytuj</div>
                    </div>
                    <div class="surname">
                        <label for="second_name">Nazwisko</label><br>
                        <input type="text" name="second_name" disabled="disabled" v-model="user.second_name">
                        <div class="edit">Edytuj</div>

                    </div>
                    <div class="position">
                        <label for="stand">Stanowisko</label><br>
                        <input type="text" name="stand" disabled="disabled" v-model="user.stand">
                        <div class="edit">Edytuj</div>

                    </div>
                    <div class="kind">
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <div class="text">Etat</div>
                                <input type="radio" value="1" name="type" v-model="user.type" >
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <div class="text">Freelance</div>
                                <input type="radio" value="0" name="type" v-model="user.type" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 photo">
                    <div class="photo">
                        <h5>Zdjęcie</h5>
                        <label  v-bind:for="this._uid">
                            <img :src="imageUrl(user.photo)" alt="">

                            <div class="add-file">
                                zmień zdjęcie
                            </div>
                        </label>
                        <input type="file" name="photo" class="fileHidden" :id="this._uid" @change="photoChange">
                    </div>
                </div>
                <div class="personal col-lg-12">

                    <div class="login">
                        <label for="login">Login</label><br>
                        <input type="text" name="nickname" disabled="disabled" v-model="user.nickname">
                        <div class="edit">Edytuj</div>

                    </div>

                    <div class="password">
                        <label for="password">Hasło</label><br>
                        <input type="password" name="password" disabled="disabled">
                        <div class="edit">Edytuj</div>

                    </div>

                    <div class="prices">
                        <div class="col-lg-6 price priceH">
                            Stawka godzinowa <br>
                            <input type="number" name="pay_standard" disabled="disabled" v-model="user.pay_standard">
                            zł
                            <div class="edit">Edytuj</div>

                        </div>
                        <div class="col-lg-6 price priceO">
                            Stawka za nadgodziny <br>
                            <input type="number" name="pay_overtime" disabled="disabled" v-model="user.pay_overtime">
                            zł
                            <div class="edit">Edytuj</div>
                        </div>
                    </div>

                    <div class="save">
                        <div class="loadingspin" v-show="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div class="loadingspin" v-show="save">
                            <i class="fas fa-check"></i>
                        </div>
                        <button @click.prevent="update"" name="update_user" class="btn-gray updateUser">ZAPISZ ZMIANY</button>
                    </div>

                </div>
            </div>
        </form>
        <form-error v-if="errors.length != 0" :errors="errors"></form-error>
    </div>
</template>
<script>
    let data = {
        user: '',
        photo:'',
        errors:[],
        loading:false,
        save:false
    }
    export default{
        data() {
            return data;
        },
        methods:{
            imageUrl(url) {
                if (url == null) {
                    url = 'profile.jpg';
                }
                return window.location.origin + '/img/photos/' + url;
            },
            photoChange: function(e){
                this.photo=e.target.files[0];
                this.user.photo = e.target.files[0].name;
            },
            update: function (e) {
                this.loading=true;
                let form = new FormData();
                form.append('userId',userId);
                form.append('nickname',this.user.nickname);
                form.append('first_name',this.user.first_name);
                form.append('second_name',this.user.second_name);
                form.append('type',this.user.type);
                form.append('stand',this.user.stand);
                form.append('pay_standard',this.user.pay_standard);
                form.append('pay_overtime',this.user.pay_overtime);
                if(this.photo != ''){
                    form.append('photo',this.photo);
                }
                if(this.user.password != null){
                    form.append('password',this.user.password);
                }
                this.$http.post(window.location.origin +'/admin/edit/user', form).then(function (data, status, request) {
                    this.user.photo = data.body.user.photo;
                    this.loading=false;
                    this.save=true;
                }, function (response) {
                    this.errors = response.data.errors;
                });
            },
        },
        mounted(){
            this.$http.post(window.location.origin + '/admin/user/id', {
                id:userId
            }).then(function(data){
                this.user=data.body.users;
            });
        }
    }

</script>