<template>
    <div class="header">
        <div class="title">
            <div class="task-title">
                <h5> {{ user.first_name }} {{ user.second_name }}
                </h5>
                <h6> {{ user.stand }}
                </h6>
            </div>
        </div>
        <div class="buttons">
            <button class="btn-no"></button>
        </div>
    </div>
</template>
<script>
    let data = {
        user: ''
    }
    export default{
        data() {
            // return this.$root.$refs.user.$data;
            return data; // TODO: hotfix
        },
        methods:{

        },
        mounted(){
            this.$http.post(window.location.origin + '/admin/user/id', {
                id:userId
            }).then(function(data){
                this.user=data.body.users;
            });

        }
    }

</script>