<template>
    <div class="col-lg-2 history-wrap">
        <div class="header header-hide">
            <div class="image">
                <img src="../../../images/icon_history.svg" alt="">
            </div>
            <div class="text">
                Historia czasu pracy
            </div>
            <div class="hide">
                <button class="hide" id="user_history_hide">Ukryj</button>
            </div>
        </div>
        <div id="user_history">
            <div class="history">
                <div class="item">
                    <div class="date">
                        od 01/07/2017 do 01/08/2017
                    </div>
                    <div class="hours">
                        Ilość godzin: 47
                    </div>
                    <div class="overTime">
                        Ilość nadgodzin: 7
                    </div>
                </div>
                <div class="item">
                    <div class="date">
                        od 01/07/2017 do 01/08/2017
                    </div>
                    <div class="hours">
                        Ilość godzin: 47
                    </div>
                    <div class="overTime">
                        Ilość nadgodzin: 7
                    </div>
                </div>
            </div>

            <div class="actual">
                <h2>Bieżący czas pracy</h2>
                <div class="history-log-stat">
                    <h4>Godziny pracy</h4>
                    <div class="time">
                        13 h 45 m
                    </div>
                    <div class="reset">
                        <button class="resetTimeHistory">RESETUJ</button>
                    </div>
                </div>
                <div class="history-log-stat">
                    <h4>Nadgodziny</h4>
                    <div class="time">
                        13 h 45 m
                    </div>
                    <div class="reset">
                        <button class="resetTimeHistory">RESETUJ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import calendar from  "../calendar.vue";
    export default{
        data() {
            return this.$parent.$children[0].$data;
        },
        methods:{

        },
        mounted(){
        }
    }

</script>