<template>
    <div>
        <div class="col-lg-6 timetable-wrapp">
            <div class="header">
                <div class="previous">
                    <button class="btn-light-gray prevBtn" @click="prev">poprzedni</button>
                </div>
                <div class="text">
                    <div class="loadingspin" v-show="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    HARMONOGRAM PRACY
                    </div>
                </div>
                <div class="timetables">
                    <div class="timetables-wrap">
                        <div id="loader">
                            <img src="../../../images/loader.gif" alt="">
                        </div>
                        <div class="row">
                            <div class="timetable-box col-lg-12 col-xl-6" v-for="index in 4">
                                <div class="timetable" :id='"week"+(index-1)' :data-week="index-1">
                                    <div class="date" :id='"date"+(index-1)' :data-date="index-1">
                                    </div>
                                    <div class="days">
                                        <div class="day" v-for="(key,value) in days">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    {{ key }}.
                                                </div>
                                                <div class="col-lg-5"> od
                                                    <select name="start">
                                                        <option value="10:00">10:00</option>
                                                        <option v-for="option in options"
                                                                v-bind:value="option.value"
                                                        >{{ option.value }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-5"> do
                                                    <select name="end">
                                                        <option value="18:00">18:00</option>
                                                        <option v-for="option in options"
                                                                v-bind:value="option.value">{{ option.value }}
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="save">
                                            <div class="loadingspin" v-show="saving[index-1]">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </div>
                                            <div class="loadingspin" v-show="save[index-1]">
                                                <i class="fas fa-check"></i>
                                            </div>
                                            <button class="btn-gray saveTimetable"
                                                    @click="saveTimetable(index-1,$event)">ZAPISZ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next">
                    <button class="btn-light-gray nextBtn" @click="next">następny</button>
                </div>
            </div>
        </div>
</template>
<script>
    let data = {
        days: ['pon', 'wt', 'sr', 'czw', 'pt', 'sob', 'nd'],
        startDay: '10:00',
        endDay: '18:00',
        a: 0,
        b: 5,
        loading: false,
        saving: [false,false,false,false],
        save: [false,false,false,false],
        options: [
            {value: '09:00'},
            {value: '09:30'},
            {value: '10:00'},
            {value: '10:30'},
            {value: '11:00'},
            {value: '11:30'},
            {value: '12:00'},
            {value: '12:30'},
            {value: '13:00'},
            {value: '13:30'},
            {value: '14:00'},
            {value: '14:30'},
            {value: '15:00'},
            {value: '15:30'},
            {value: '16:00'},
            {value: '16:30'},
            {value: '17:00'},
            {value: '17:30'},
            {value: '18:00'},
            {value: '18:30'},
            {value: '19:00'},
        ]
    };
    export default {
        data() {
            return data;
        },
        methods: {
            saveTimetable: function (slot, $event) {
                this.$set(this.saving, slot, true);
                this.$set(this.save, slot, false);
                var data1 = [];
                $($event.target).closest('.days').children('.day').each(function () {
                    var start = $(this).find('select[name="start"]').data('date') + " " + $(this).find('select[name="start"]').val();
                    var end = $(this).find('select[name="end"]').data('date') + " " + $(this).find('select[name="end"]').val();
                    data1.push(
                        {"start": start, "end": end}
                    );
                });
                this.$http.post(window.location.origin + '/admin/user/update/timetable', {
                    data: data1,
                    id: userId
                }).then(function (data, status, request) {
                    this.$set(this.saving, slot, false)
                    this.$set(this.save, slot, true)
                }, function (response) {
                    console.log('Error:', response);
                });
            },
            prev: function () {

                $('.timetable').each(function () {
                    var last = $(this).attr('data-week');
                    $(this).attr('data-week', parseInt(last) - 4);
                });
                $('.date').each(function () {
                    var last = $(this).attr('data-date');
                    $(this).attr('data-date', parseInt(last) - 4);
                });
                this.a = this.a - 4;
                this.b = this.b - 4;
                this.calculateDays(this.a, this.b);
            },
            next: function (a, b) {

                $('.timetable').each(function () {
                    var last = $(this).attr('data-week');
                    $(this).attr('data-week', parseInt(last) + 4);
                });
                $('.date').each(function () {
                    var last = $(this).attr('data-date');
                    $(this).attr('data-date', parseInt(last) + 4);
                });
                this.a = this.a + 4;
                this.b = this.b + 4;
                this.calculateDays(this.a, this.b);
            },
            calculateDays: function (a, b) {
                this.loading = true;
                this.$set(this.saving, 0, false); // TODO: Think about it :(((
                this.$set(this.saving, 1, false);
                this.$set(this.saving, 2, false);
                this.$set(this.saving, 3, false);
                this.$set(this.save, 0, false);
                this.$set(this.save, 1, false);
                this.$set(this.save, 2, false);
                this.$set(this.save, 3, false);

                let data2 = [];
                let tab = [];
                let weekStart = new Array();
                let weekEnd = new Array();
                let current;
                let l;
                for (l = a; l < b; l++) {
                    weekStart[l] = moment().add(l, 'weeks').startOf('isoWeek');
                    // console.log('--------');
                    // console.log(weekStart[l]);
                    weekEnd[l] = moment().add(l, 'weeks').endOf('isoWeek').format('DD.MM.YYYY');
                    $('.date[data-date="' + l + '"]').html(weekStart[l].format('DD.MM.YYYY') + ' - ' + weekEnd[l]);
                    current = 0;
                    $('.timetable[data-week="' + l + '"]').find('.day').each(function () {
                        $(this).find('select').each(function () {
                            let day = moment().add(l, 'weeks').startOf('isoWeek').add(current, 'days');
                            $(this).attr('data-date', day.format('DD.MM.YYYY'));
                            let start = day.format('YYYY-MM-DD') + ' ' + '10:00';
                            let end = day.format('YYYY-MM-DD') + ' ' + '18:00';
                            if ($(this).attr('name') == "start") {
                                tab.push(
                                    {"start": start, "end": end}
                                );
                            }
                        });
                        current++;
                    });
                }
                this.$http.post(window.location.origin + '/admin/user/timetable', {
                    data: tab,
                    id: userId
                }).then(function (data, status, request) {
                    $.each(data.body.data, function (propName, propVal) {
                        var day = moment(propVal['start']).format('DD.MM.YYYY');
                        var start = moment(propVal['start']).format('HH:mm');
                        var end = moment(propVal['end']).format('HH:mm');
                        $("ul").find("[data-slide='" + current + "']");
                        $('.timetables').find("[data-date='" + day + "']").each(function () {
                            if ($(this).attr('name') == "start") {
                                $(this).val(start);
                            } else if ($(this).attr('name') == "end") {
                                $(this).val(end);
                            }
                        });
                    });
                    this.loading = false;
                }, function (response) {
                    console.log('Error:', response);
                });
                return data2;
            }

        },
        mounted() {
            this.calculateDays(this.a, this.b);
        }
    }

</script>