<template>
    <footer>
        <!--<div v-if="event">-->
        <div class="row">
            <div class="progress-bar-wrap col-lg-12">
                <div class="progress">
                    <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">

                    </div>
                </div>

            </div>
        </div>
        <div class="row" v-show="actualEvent">
            <div class="title col-lg-3">
                {{ actualEvent.title }}
            </div>
            <div class="buttons col-lg-6">
                <button  class="stop" @click="stop(actualEvent)"></button>
                <button class="pause" @click="pause(actualEvent)"></button>
            </div>
            <div class="time col-lg-3">
                {{ getDays(actualEvent) }}d {{ getHours(actualEvent) }}g {{
                getMinutes(actualEvent) }}m
            </div>
        </div>
        <div class="row resolution-alert">
            <div class="col-lg-12">
                Uwaga! Aplikacja w podanej rozdzielczości nie wyświetla wszystkich funkcji! Proszę o otworzenie strony w
                rozdzielczości min.1000px.
            </div>
        </div>


    </footer>

</template>
<script>
    export default {
        props: ['actualEvent','timer'],


        methods: {
            getDays: function (key) {
                return moment.duration(key.duration).days();
            },
            getHours: function (key,) {
                return moment.duration(key.duration).hours();
            },
            getMinutes: function (key) {
                return moment.duration(key.duration).minutes();
            },
            stop: function (key) {
                let event = $("#calendar").fullCalendar('clientEvents', key.id);
                event[0].end = moment().format('YYYY-MM-DD HH:mm:ss');
                $('#calendar').fullCalendar('updateEvent', event[0]);
                this.$http.post(window.location.origin + '/admin/task/stop', {
                    id: key.id,
                    end: event[0].end,
                }).then(function (data) {
                    this.clearTimer();
                });
            },
            pause: function (key) {
                let event = $("#calendar").fullCalendar('clientEvents', key.id);
                event[0].end = moment().format('YYYY-MM-DD HH:mm:ss');
                $('#calendar').fullCalendar('updateEvent', event[0]);
                this.$http.post(window.location.origin + '/admin/task/pause', {
                    id: key.id,
                    end: event[0].end,
                }).then(function (data) {
                    this.clearTimer();
                });
            },
            clearTimer:function(){
                $('#progress').css("width", "0%");
                clearTimeout(this.timer);
                this.$emit('update:actualEvent', '')
            }
        },
        mounted(){
        }
    }



</script>